<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i>系统管理</li>
        <li>品规设置</li>
        <li class="active">编辑分类</li>
    </ul>
    <!-- /.breadcrumb -->

    #parse("layout/topbtn.vm")
    <!-- /.nav-search -->
</div>

<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <!--TAPBAR-->
            <div class="tabbar">
                <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab4">
                    <li class="active">
                        <a href="$link.getContextPath()/category/showcategory.html">大类设置</a>
                    </li>
                    <li>
                        <a href="$link.getContextPath()/category/list.html">品名设置</a>
                    </li>
                    <li>
                        <a href="$link.getContextPath()/resource/materials/index.html">材质管理</a>
                    </li>
                    <li>
                        <a href="#">扩展属性设置</a>
                    </li>
                    <li>
                        <a href="$link.getContextPath()/resource/attribute/edit/index.html">扩展属性编辑</a>
                    </li>
                </ul>
            </div>
            <form method="post" id="addCategory" action="$link.getContextPath()/category/saveCategoryEdit.html"
                  enctype="multipart/form-data"
            >
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
                    <div class="col-xs-12">

                        <div>
                            <span class="bolder">大类：</span><input name="categoryName" type="text" value="$group.name"
                                                                  class="c-text" must="1"/>
                            <input type="hidden" name="group_uuid" value="$group.uuid"/>
                        </div>
                        <dl class="category-box clearfix" style="clear: left">
                            <dt class="pull-left">品种：</dt>
                            <dd class="pull-left">
                                <ul class="dotted-border-bottom">
                                    <li>
                                        #foreach( $cat in $category)

                                            <label title="$!cat.inner_group.name" class="pos-rel">
                                                <input #if($cat.inner_group&&!$group.uuid.equals($cat.inner_group.uuid))
                                                        disabled="disabled" #end value="$cat.uuid" type="checkbox"
                                                        name="cateCheck"
                                                    #if($group.uuid.equals($cat.inner_group.uuid))
                                                        checked='checked' #end class="ace">
                                                <span class="lbl">$cat.name</span></label>
                                        #end

                                    </li>
                                </ul>

                            </dd>
                        </dl>
                        <!--.recordbar-->
                        <div class="btn-bar">
                            <button type="submit" class="btn btn-info btn-sm" id="btn_eidt_category">确定</button>
                        </div>
                        <!--/.recordbar-->
                    </div>
                </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
</form>
<script type="text/javascript" src="$link.getContextPath()/js/views/smartmatch/category/category.js"></script>
<script type="text/javascript">
    $("#addCategory").verifyForm();
</script>