<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            银票管理
        </li>
        <li class="active">
            银票清单
        </li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="clearfix " align="">
                            <form id="searchForm" class="">
                                <span>显示：</span>

                                <div class="checkbox">
                                    <label>
                                        <input  type="checkbox" name="draftcheck"  checked=""  class="ace draftcheck" id="02" value="金额"/>
                                        <span class="lbl">金额</span>
                                    </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="03" value="承兑日"/>
                                    <span class="lbl">承兑日</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck"  checked=""  class="ace draftcheck" id="04" value="到期日"/>
                                    <span class="lbl">  到期日</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked=""  class="ace draftcheck" id="05" value="承兑行行号"/>
                                    <span class="lbl">承兑行行号</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked=""  class="ace draftcheck" id="06" value="承兑行全称"/>
                                    <span class="lbl">承兑行全称</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked=""  class="ace draftcheck" id="07" value="出票人名称"/>
                                    <span class="lbl">出票人姓名</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="08" value="出票人账号"/>
                                    <span class="lbl">出票人账号</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked=""  class="ace draftcheck" id="09" value="出票人开户行行号"/>
                                    <span class="lbl">出票人开户行行号</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="10" value="出票人开户行全称"/>
                                    <span class="lbl">出票人开户行全称</span>
                                </label>
                                <br>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="11" value="收款人名称"/>
                                    <span class="lbl">收款人名称</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="12" value="收款人账号"/>
                                    <span class="lbl">收款人账号</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="13" value="收款人开户行全称"/>
                                    <span class="lbl">收款人开户行全称</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked=""  class="ace draftcheck" id="14" value="调整天数"/>
                                    <span class="lbl">调整天数</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="15" value="背书次数"/>
                                    <span class="lbl">背书次数</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="16" value="合同号"/>
                                    <span class="lbl">合同号</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="draftcheck" checked="" class="ace draftcheck" id="17" value="是否我行代开他行签发票据"/>
                                    <span class="lbl">是否我行代开他行签发票据</span>
                                </label>
                                </div>
                                <br>
                                <input type="button" class="btn btn-default btn-xs" id="17" value="确定" onclick="getName()"/>
                                <input type="button" class="btn btn-default btn-xs" name="select" onclick="jselectAll()" value="全选"/>

                                </label>
                                <div class="search-bar">
                                    <label>票号：</label>
                                    <input class="ipt-text" type="text" id="code" value=""/>
                                    <label>到期日：</label>
                                    <input id="startTime" class="ipt-text" type="text" value="$!startTime"
                                           onFocus="WdatePicker()"/> -
                                    <input id="endTime" class="ipt-text" type="text" value="$!endTime"
                                           onFocus="WdatePicker()"/>
                                    </label>
                                    <button id="search" class="btn btn-default  active btn-xs" type="button" title="搜索">
                                        <i class="aace-icon fa fa-search bigger-110"></i>搜索
                                    </button>

                                    <input type="file" id="acceptDraftExcel" name="acceptDraftExcel" onchange="uploadingExcel()" style="display:none"/>
                                    <button id="exportPut" class="btn btn-danger btn-xs" type="button" title="上传EXCEL">
                                        上传EXCEL
                                    </button>&nbsp;&nbsp;
                                    <button id="exportBtn" class="btn btn-primary btn-xs" type="button" title="导出EXCEL">
                                        导出EXCEL
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- div.dataTables_borderWrap -->
                    <div id="table-bar" style="overflow-x: auto;overflow-y: hidden;">

                    <div style="width:1900px">
                        <table id="forShow" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><label><input type="checkbox" class="ace"  id="allCheck"/><span class='lbl'></span></label></th>
                                <th>票号</th>
                                <th>金额</th>
                                <th>承兑日</th>
                                <th>到期日</th>
                                <th>承兑行行号</th>
                                <th>承兑行全称</th>
                                <th>出票人姓名</th>
                                <th>出票人账号</th>
                                <th>出票人开户行行号</th>
                                <th> 出票人开户行全称</th>
                                <th>收款人名称</th>
                                <th>收款人账号</th>
                                <th>收款人开户行全称</th>
                                <th>调整天数</th>
                                <th>背书次数</th>
                                <th>合同号</th>
                                <th>是否我行代开他行欠发票据</th>
                            </tr>
                            </thead>
                            <tfoot class="tbody-border0" id="secondpayment_footer">
                            <tr>
                                <td class="text-right bolder" colspan="18">当前页一共<span id="count">0</span>张银票，合计金额<span
                                        id="amount">0</span>元
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <input type="hidden" id="add" value="$shiro.hasPermission("acceptdraft:create:add")"/> <!-- 新增银票 -->
    <input type="hidden" id="submit" value="$shiro.hasPermission("acceptdraft:create:submit")"/> <!-- 银票提交审核 -->
    <input type="hidden" id="withdraw" value="$shiro.hasPermission("acceptdraft:auditrecharge:withdraw")"/>
    <!-- 撤回充值申请 -->
    <input type="hidden" id="check" value="$shiro.hasPermission("acceptdraft:check:submit")"/> <!-- 银票充值审核 -->
    <input type="hidden" id="cancel" value="$shiro.hasPermission("acceptdraft:auditrecharge:cancel")"/> <!-- 申请取消充值 -->
    <input type="hidden" id="audit" value="$shiro.hasPermission("acceptdraft:auditrecharge:audit")"/> <!-- 取消充值审核 -->
</div><!-- /.page-content -->

<script src="$link.getContextPath()/js/views/acceptraft/taelsList.js"></script>
