#set($layout="layout/sys/default.vm")
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i>系统管理</li>
        <li>系统设置</li>
        <li class="active">添加分类</li>
	</ul>
	<!-- /.breadcrumb -->

	#parse("layout/topbtn.vm")
	<!-- /.nav-search -->
</div>

<div class="page-content">

	<div class="row">
		<div class="col-xs-12">
			<!--TAPBAR-->
			#parse("sys/systemmenu.vm")
					<form method="post" id="addCategory" action="$link.getContextPath()/category/saveCategory.html" enctype="multipart/form-data"
					>
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">
				<div class="col-xs-12">

					<div>
						<span class="bolder">大类：</span><input name="categoryName" type="text" value=""
							class="c-text" must="1"/>
					</div>
					<dl class="category-box clearfix" style="clear: left">
						<dt class="pull-left">品种：</dt>
						<dd class="pull-left">
							<ul class="dotted-border-bottom">
								<li>
								#foreach( $cat in $category)
									
								<label title="$!cat.inner_group.name" class="pos-rel">
								<input #if($cat.inner_group)  disabled="disabled" #end value="$cat.uuid" type="checkbox" name="cateCheck" class="ace">
								<span class="lbl">$cat.name</span></label>
								#end								
									
								</li>
							</ul>
							
						</dd>
					</dl>
					<!--.recordbar-->
					<div class="btn-bar">
						<button type="submit" class="btn btn-info btn-sm">确定</button>
					</div>
					<!--/.recordbar-->
				</div>
			</div>

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.page-content -->
				</form>
<script type="text/javascript" src="$link.getContextPath()/js/views/sys/category.js"></script>
<script type="text/javascript">
	$("#addCategory").verifyForm();
</script>