.idea
**.iml
*.log
*.lck
*.epoch



**/target/
**/overlays/

*.uml~
*.bak

.classpath
.project
.classpath
.settings

**/classes/**
**/lib/**
**/bin/**

**/src/main/webapp/META-INF/
**/src/main/webapp/css/
**/src/main/webapp/js/*.js
**/src/main/webapp/img/
**/src/main/webapp/theme/
**/src/main/webapp/favicon.ico
**/src/main/webapp/js/sys/
**/src/main/webapp/js/order/
**/src/main/webapp/js/kuandao/
**/src/main/webapp/upload/
**/src/main/webapp/swagger-ui/
**/src/main/webapp/js/findgoods/
**/src/main/webapp/app/
**/src/main/webapp/html/

**/rebel.xml

DT_zh.txt
