<!--基价列表-->
<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 text-left">
                <form class="form-inline">
                    <input id="city" class="" type="hidden" value="$!city.name">
                    <label>地区：
                        <select id="cityName" >
                            <option value="" >全部</option>
                            #foreach($item in $cityList)
                                #if($!city.name == $item.centerCityName)
                                    <option  value="$item.centerCityId" selected="selected">$item.centerCityName</option>
                                #else
                                    <option value="$item.centerCityId">$!item.centerCityName</option>
                                #end
                            #end
                        </select>
                    </label>
                    <label>基价名称：<input id="basePriceName" class="" type="text" value=""/></label>
                    <label>类别：
                        <select id="typeName" >
                            <option value="" >全部</option>
                            #foreach($item in $types)
                                <option value="$!item">$!item</option>
                            #end
                        </select>
                    </label>

                    <button id="dateBtn" class="btn btn-sm btn-default" type="button">查询</button>
                    <button id="releaseBtn" class="btn btn-sm btn-default" type="button">发布报价</button>
                    <button id="btn_BatchUpdate" class="btn btn-sm btn-default none" type="button">批量更新</button>
                    <button class="btn btn-sm btn-default" type="button" id='add_base_price'>添加</button>
                </form>
            </div>
        </div>
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>基价名称</th>
                    <th>地区</th>
                    <th>类别</th>
                    <th>品名</th>
                    <th class="none">材质</th>
                    <th class="none">规格</th>
                    <th>产地</th>
                    <th>当日最新报价</th>
                    <th style="max-width: 200px;">备注</th>
                    <th style="width: 150px">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="determine" class='well' style='margin-top:25px;display: none;'>
	<div style='margin-top:15px; margin-bottom: 25px;' id = "style">
	    <form id='form-horizontal' class='form-horizontal' role='form'>
			<input type="hidden" id="basePriceId" class="f-text" value="">
			<label>&nbsp;&nbsp;　<em class="red">*</em>地区：
                <input id="region"  class="region" type="text" search='city' name="citys" value=""  must="1"/>
            </label>
            <label>&nbsp;&nbsp;　<em class="red">*</em>基价名称：
                <input id="baseName"  class="baseName" type="text" value=""  must="1"/>
            </label>
			<label>&nbsp;&nbsp;　类别：
                <input id="typeName"  class="typeName" type="text" value=""  />
            </label>
	        <div class="m-s">
                <div id="m-search" class="m-search m-search-bar clearfix" style="width: 1070px">
            		<div class="product-ipt">
                        <span class="in-block f-fl"><em class="red">*</em>品名：</span>
                        <div class="form-item">
                            <input type="text" id="category" name="category_dia" search="category" placeholder='' must="1">
                        </div>
                    </div>
                    <div class="product-ipt">
                        <div class="none">
                            <span class="in-block f-fl"><em class="red">*</em>材质：</span>
                            <div class="form-item material">
                                <input type="text" id="material" name="material_dia" search="material">
                            </div>
                        </div>
                    </div>
					<div class="spec none">
                        <div id="spec" type="spec" class="product-ipt guige" rel="1">
                            <span class="in-block f-fl"><em class="red">*</em>规格：</span>
                            <div class="form-item" style="width:150px">
	                            <input type="text" id="spec_dia" name="spec_dia" search="spec" placeholder='' style="width:150px">
                            </div>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="product-ipt" type="factory">
                        <span class="in-block f-fl"><em class="red">*</em>钢厂：</span>
                        <div class="form-item factory">
                            <input type="text" id="factory" name="factory_dia"  search="factory" class="f-text"   placeholder='' >
                        </div>
                    </div>
					
					 <div class="product-ipt" type="curdayPrice">
                        <span class="in-block f-fl">当日最新报价：</span>
                        <div class="form-item curdayPrice">
                            <input type="text" id="curdayPrice" name="curdayPrice_dia"  search="curdayPrice" class="f-text" verify="rmb"  placeholder='' >
                        </div>
                    </div>
                    <div class="product-ipt" type="remark">
                        <span class="in-block f-fl">备注：</span>
                        <div class="form-item">
                            <input type="text" id="edit_txtremark" name="remark_dia"  search="remark" class="f-text" maxlength="200"  placeholder='' >
                        </div>
                    </div>
                </div><!-- end m-search m-search-bar clearfix-->
            </div><!-- end m-s-->
			<div class="table-bar text-center">
				<button id="btncommit" data-bb-handler="success" type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-check"></i>保存</button>
				<button id="btnClose" data-bb-handler="button" type="button" class="btn btn-sm">取消</button>
	        </div>
		</form>
	</div><!-- end style-->
</div><!-- end determine-->

<script src="$link.getContextPath()/js/views/smartmatch/quote/baseprice.js"></script>
<script src="$link.getContextPath()/js/views/smartmatch/quote/business_dialg.js"></script>
<script src="$link.getContextPath()/js/views/smartmatch/quote/querybaseprice.js"></script>
<script src="$link.getContextPath()/js/views/smartmatch/quote/matchresource.js"></script>
