#set($layout="layout/blank.vm")
<form id='form-horizontal' class='form-horizontal' role='form'>
    <div class="clearfix  text-center">
    	<table id="release-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" id="allCheck"></th>
                <th>基价名称</th>
				<th>地区</th>
				<th>品名</th>
                <th>单价(元/吨)</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="table-bar text-center">
		<button id="releaseCommit" data-bb-handler="success" type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-check"></i>发布报价</button>
        <button id="releaseClose" data-bb-handler="button" type="button" class="btn btn-sm">取消</button>
    </div>
</form>
