<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.account.persist.dao.AccountContactDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.account.model.model.AccountContact" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="contact_id" property="contactId" jdbcType="INTEGER" />
    <result column="manager" property="manager" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>

  <resultMap id="contactDto" type="com.prcsteel.platform.account.model.dto.AccountContactDto" extends="BaseResultMap">
    <id column="manager_name" property="managerName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="accountContactOrgUserMap" type="com.prcsteel.platform.account.model.dto.AccountContactOrgUserDto" >
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="contact_id" property="contactId" jdbcType="BIGINT" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, account_id, contact_id, manager, status, type,
    created, created_by, last_updated, last_updated_by, modification_number, row_id,
    parent_row_id, is_deleted
  </sql>

  <!-- 根据企业id查询用户信息列表翻页  -->
  <select id="queryByAccountId" resultMap="contactDto" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    ,(select name from acl_user where id = manager) as manager_name  from cust_account_contact
    where account_id = #{accountId,jdbcType=BIGINT}
    and type in ('both'
    <if test="type != null">
      , #{type}
    </if>
    )
    <if test="start != null and length != null">
      limit #{start,jdbcType=INTEGER},#{length,jdbcType=INTEGER }
    </if>
  </select>

  <!-- 根据accountId，contactId，managerId获取客户的联系人信息  -->
  <select id="queryByIds" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from cust_account_contact
    where account_id = #{accountId,jdbcType=BIGINT}
    and contact_id = #{contactId,jdbcType=INTEGER}
    <if test="manager != null" >
      and manager = #{manager,jdbcType=BIGINT}
    </if>
    and is_deleted=0
  </select>

  <!-- 根据accountId，contactId，managerId修改客户的联系人状态  -->
  <update id="updateStatusByIds" parameterType="com.prcsteel.platform.account.model.model.AccountContact" >
    update cust_account_contact
    set status = #{status,jdbcType=INTEGER},
    last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
    last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
    modification_number = ifnull(modification_number,0) + 1
    where account_id = #{accountId,jdbcType=BIGINT}
    and contact_id = #{contactId,jdbcType=INTEGER}
    <if test="manager != null" >
      and manager = #{manager,jdbcType=BIGINT}
    </if>
    and is_deleted = 0
  </update>

  <!-- 根据企业id查询用户信息总数  -->
  <select id="totalContact" resultType="int" parameterType="map">
    select count(1)
    from cust_account_contact
    where account_id = #{accountId,jdbcType=BIGINT}
    <if test="isMain != null" >
      and is_main = #{isMain,jdbcType=INTEGER}
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cust_account_contact
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" useGeneratedKeys="true"
          parameterType="com.prcsteel.platform.account.model.model.AccountContact"
          keyProperty="id">
    insert into cust_account_contact (account_id,
    contact_id,manager, status, type, created,
    created_by, last_updated, last_updated_by,
    modification_number, row_id, parent_row_id,is_deleted
    )
    values (#{accountId,jdbcType=BIGINT},#{contactId,jdbcType=INTEGER},
    #{manager,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},
    #{createdBy,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR},
    #{modificationNumber,jdbcType=INTEGER}, #{rowId,jdbcType=VARCHAR}, #{parentRowId,jdbcType=VARCHAR}
    ,#{isDeleted,jdbcType=BIT})
    )
  </insert>

  <insert id="insertSelective" parameterType="com.prcsteel.platform.account.model.model.AccountContact" keyProperty="id" useGeneratedKeys="true">
    insert into cust_account_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="contactId != null" >
        contact_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateAccountContactById" parameterType="com.prcsteel.platform.account.model.model.AccountContact" >
    update cust_account_contact
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = replace(replace(#{name,jdbcType=VARCHAR},' ',''), '　',''),
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null" >
        is_main = #{isMain,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=BIGINT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        modification_number = #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateStatusById" parameterType="com.prcsteel.platform.account.model.model.AccountContact" >
    update cust_account_contact
    set status = #{status,jdbcType=INTEGER},
    last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
    last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
    modification_number = ifnull(modification_number,0) + 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询主联系人数  -->
  <select id="totalIsMain" resultType="int" parameterType="map" >
    select count(1) from cust_account_contact
    where 1 = 1
    <if test="isMain != null" >
      and is_main = #{isMain,jdbcType=INTEGER}
    </if>
    <if test="type != null" >
      and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="accountId != null" >
      and account_id = #{accountId,jdbcType=BIGINT}
    </if>
    <if test="id != null" >
      and id = #{id,jdbcType=BIGINT}
    </if>

  </select>

  <update id="updateIsMainById" parameterType="map" >
    update cust_account_contact
    set is_main = #{isMain,jdbcType=INTEGER},
    last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
    last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
    modification_number = ifnull(modification_number,0) + 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateIsMainByIdArr" parameterType="map" >
    update cust_account_contact
        set is_main = 0,
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
        modification_number = ifnull(modification_number,0) + 1
    where id in (select id from (
    select id from cust_account_contact
                      where account_id = #{accountId,jdbcType=BIGINT}
                        and id != #{id,jdbcType=BIGINT}) a)
  </update>

  <!-- 查询手机号是否存在  -->
  <select id="totalTel" resultType="int" parameterType="map" >
    select count(1) from cust_account_contact
    where 1 = 1
    <if test="tel != null" >
      and tel = #{tel,jdbcType=VARCHAR}
    </if>
    <if test="accountId != null" >
      and account_id = #{accountId,jdbcType=BIGINT}
    </if>
    <if test="id != null" >
      and id = #{id,jdbcType=BIGINT}
    </if>
  </select>

  <!-- 根据手机号码查询  -->
  <select id="queryByTel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cust_account_contact
    where tel = #{tel,jdbcType=VARCHAR}
    limit 0,1
  </select>

  <!-- 根据账号查询 -->
  <select id="queryContactListByAccountId" resultMap="BaseResultMap" parameterType="Long" >
    select
    <include refid="Base_Column_List" />
    from cust_account_contact
    where account_id = #{accountId,jdbcType=VARCHAR}
    -- limit 0,1
  </select>


  <!-- add from 20160119 -->
  <update id="updateIsDeletedByAccountIdAndContactId" parameterType="com.prcsteel.platform.account.model.model.AccountContact">
    UPDATE cust_account_contact t
    SET t.is_deleted = 1
    ,t.last_updated = CURRENT_TIMESTAMP,t.last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
    t.modification_number = IFNULL(modification_number,0) + 1
    WHERE t.account_id = #{accountId,jdbcType=BIGINT}
    AND t.contact_id = #{contactId,jdbcType=INTEGER}
    AND t.is_deleted= 0
  </update>

  <insert id="batchInsert" parameterType="com.prcsteel.platform.account.model.model.AccountContact">
    insert into cust_account_contact (account_id,
    contact_id,manager,status,created_by,last_updated_by,modification_number
    )
    values
    <foreach collection="list" item="it" separator=",">
      (#{it.accountId,jdbcType=BIGINT},#{it.contactId,jdbcType=INTEGER},
      #{it.manager,jdbcType=BIGINT},#{it.status,jdbcType=INTEGER},
      #{it.createdBy,jdbcType=VARCHAR}, #{it.lastUpdatedBy,jdbcType=VARCHAR},
      #{it.modificationNumber,jdbcType=INTEGER})
    </foreach>
  </insert>

  <select id="queryBindUserByDeptIdAndContactId" parameterType="com.prcsteel.platform.account.model.model.AccountContact" resultType="com.prcsteel.platform.acl.model.model.User">
    SELECT t.manager as id,t2.name
    FROM cust_account_contact t,acl_user t2
    WHERE t.account_id = #{accountId,jdbcType=BIGINT}
    AND t.contact_id = #{contactId,jdbcType=INTEGER}
    AND t.is_deleted = 0
    and t.manager = t2.id
  </select>

  <!-- 根据账号查询 -->
  <select id="queryAccountContactByOpenId" resultMap="accountContactOrgUserMap" parameterType="java.lang.String" >
      SELECT t7.id AS account_id,t7.name AS account_name,t1.id AS contact_id,t1.name AS contact_name,t1.tel,t1.open_id,
     t5.id AS org_id,t5.name AS org_name,t4.id AS user_id,t4.name AS user_name,t6.name AS city_name
        FROM cust_contact t1
       INNER JOIN cust_account_contact t2 ON t1.id=t2.contact_id and t2.is_deleted=0
       INNER JOIN cust_account t3 ON t2.account_id=t3.id and t3.is_deleted=0
       INNER JOIN cust_account t7 ON t3.parent_id=t7.id and t7.is_deleted=0
       INNER JOIN acl_user t4 ON t4.id=t2.manager 
       INNER JOIN base_organization t5 ON t5.id=t4.org_id
       LEFT JOIN base_city t6 ON t5.city_id=t6.id
       WHERE t1.is_deleted=0 AND t2.status=1 AND (t1.open_id=#{openId} OR t1.tel=#{openId})
      LIMIT 0,1
  </select>

  <!-- chengui 按联系人id查询部门id列表，部门所对应的客户包含买家属性且未被锁定 -->
  <select id="getAccountIdsByContactId" parameterType="java.lang.Integer" resultType="java.lang.Long">
    SELECT DISTINCT t1.account_id
    FROM cust_account_contact t1
    INNER JOIN cust_account t2 ON t1.account_id=t2.id
    INNER JOIN cust_account t3 ON t2.parent_id=t3.id
    WHERE t1.contact_id = #{contactId,jdbcType=INTEGER}
    AND t3.status = 1
    AND t3.account_tag <![CDATA[ & ]]> 1 = 1
    AND t1.is_deleted=0 AND t2.is_deleted=0 AND t3.is_deleted=0
  </select>

  <!-- 获取客户的联系人  -->
  <resultMap id="accountContactMap" type="com.prcsteel.platform.account.model.model.AccountContact" >
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="contact_name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="deptName" property="deptName" jdbcType="VARCHAR" />
    <result column="traderName" property="traderName" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getContactByAccountId"  resultMap="accountContactMap" parameterType="java.lang.Long">
    select t.id as accountId,t1.name as deptName, t3.name as name,t3.tel as tel,t3.qq,t3.note,
    group_concat( DISTINCT t4.name  separator '/') traderName from cust_account t
    -- 根据id找部门
    left join cust_account t1 on t1.parent_id = t.id
    -- 根据部门id找到联系人关系
    left join cust_account_contact t2 on t2.account_id = t1.id
    -- 找到联系人姓名和电话
    left join cust_contact t3 on t3.id = t2.contact_id
    -- 找到联系人操作员
    left join acl_user t4 on t2.manager = t4.id
    where t.parent_id = 0 and t2.is_deleted = 0 and t3.is_deleted = 0 and t.id = #{accountId} group by t3.id
  </select>

  <resultMap id="AccountContactMap1" type="com.prcsteel.platform.account.model.dto.AccountContactDto" extends="BaseResultMap">
    <id column="accountName" property="accountName" jdbcType="VARCHAR" />
    <id column="departmentName" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 根据accountId 查询关联信息 : tuxianming 20160711-->
  <select id="queryByContactId" resultMap="AccountContactMap1" parameterType="java.lang.Long" >
    select a.name as departmentName, a1.name as accountName,  
    	ac.id, ac.account_id, ac.contact_id
    from cust_account_contact as ac
	    left join cust_account as a on a.id = ac.account_id
	    left join cust_account as a1 on a1.id = a.parent_id
    where 
	     ac.contact_id = #{contactId,jdbcType=INTEGER}
	     and ac.is_deleted=0
  </select>

  <delete id="deleteByIds" parameterType="java.util.List">
    DELETE FROM cust_account_contact
    WHERE id IN
    <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
  </delete>
  
  <select id="existAssign" resultType="int">
    select count(id) from cust_account_contact
    <where> 
    	<if test="accountId != null">
    		and account_id = #{accountId,jdbcType=INTEGER}
    	</if>
    	<if test="contactId != null">
    		and contact_id = #{contactId,jdbcType=INTEGER}
    	</if>
    	<if test="managerId != null">
    		and manager = #{managerId,jdbcType=INTEGER}
    	</if>
    </where>
  </select>

  <select id="queryUserByCompanyId" parameterType="java.lang.Long" resultType="com.prcsteel.platform.acl.model.model.User">
    SELECT distinct t3.id,t3.name,t3.tel FROM cust_account_contact t1
    INNER JOIN cust_account t2 ON t1.account_id=t2.id AND t2.is_deleted=0 AND t2.status=1
    INNER JOIN acl_user t3 ON t1.manager=t3.id
    WHERE t2.parent_id=#{companyId} and t3.status=1 AND t1.status=1
  </select>
</mapper>