<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.account.persist.dao.ContactDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.account.model.model.Contact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="ec_user_id" property="ecUserId" jdbcType="INTEGER" /><!--新增超市用户ID -->
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ContactDtoResultMap" type="com.prcsteel.platform.account.model.dto.ContactDto" extends="BaseResultMap">
    <id column="dept_id" property="deptId" jdbcType="BIGINT" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_Ids" property="managerIds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, tel, dept_name, qq, email, note, type, open_id,ec_user_id,source, company_name, created, created_by, last_updated,
    last_updated_by, modification_number, row_id, parent_row_id, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cust_contact
    where id = #{id,jdbcType=INTEGER} AND is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cust_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    insert into cust_contact (id, name, tel, 
      dept_name, qq, email,
      note, type, open_id,ec_user_id,source,company_name,
      created, created_by, last_updated,
      last_updated_by, modification_number, row_id, 
      parent_row_id, is_deleted)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},#{ecUserId,jdbcType=INTEGER},
      #{source,jdbcType=VARCHAR},#{companyName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP},
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{modificationNumber,jdbcType=INTEGER}, #{rowId,jdbcType=VARCHAR}, 
      #{parentRowId,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.account.model.model.Contact" useGeneratedKeys="true"
          keyProperty="id">
    insert into cust_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="ecUserId != null" >
        ec_user_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="ecUserId != null" >
        #{ecUserId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    update cust_contact
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="ecUserId != null" >
        ec_user_id = #{ecUserId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        modification_number = #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    update cust_contact
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      ec_user_id = #{ecUserId,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByTel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cust_contact
    where tel = #{tel,jdbcType=VARCHAR}
    and is_deleted=0 LIMIT 0,1
  </select>

  <select id="queryByTel" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM cust_contact t WHERE t.tel = #{tel,jdbcType=VARCHAR} AND t.is_deleted = 0 LIMIT 0,1
  </select>

  <select id="queryByOpenId" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM cust_contact t WHERE t.open_id = #{openId,jdbcType=VARCHAR} AND t.is_deleted = 0
  </select>

  <select id="queryContactsByCompanyId" parameterType="long" resultMap="ContactDtoResultMap">
    SELECT t2.id AS dept_id,t3.id,t3.name,t3.qq,t3.email,t1.status,t3.tel,GROUP_CONCAT(DISTINCT NULLIF(t4.name,'')) AS manager_name,t3.note
    ,GROUP_CONCAT(DISTINCT NULLIF(t4.id,'')) as manager_Ids
    FROM cust_account_contact t1
    JOIN cust_account t2 ON t2.parent_id = #{parentId,jdbcType=BIGINT}
    AND t2.is_deleted= 0 AND t1.account_id = t2.id
    JOIN cust_contact t3 ON t3.is_deleted = 0 AND t1.contact_id = t3.id
    LEFT JOIN acl_user t4 ON t4.id = t1.manager
    WHERE t1.is_deleted = 0
    GROUP BY t2.id,t3.id,t3.tel
  </select>

  <select id="queryUsersByOrgId" parameterType="long" resultType="com.prcsteel.platform.acl.model.model.User">
    SELECT id,name
    from acl_user where org_id = #{orgId,jdbcType=BIGINT}
  </select>

  <select id="queryContactsByDepartId" parameterType="long"
          resultType="com.prcsteel.platform.account.model.model.Contact">
    SELECT t1.id,t1.name,t1.tel
    FROM cust_contact t1,cust_account_contact t2
    WHERE t2.account_id = #{departId,jdbcType=BIGINT}
    AND t2.is_deleted = 0
    AND t1.is_deleted = 0
    AND t1.id = t2.contact_id
    GROUP BY t1.id
  </select>

  <select id="queryContactsByContactDto" parameterType="com.prcsteel.platform.account.model.dto.ContactDto"
          resultType="com.prcsteel.platform.account.model.dto.ContactDto">
    SELECT t1.id,t1.name,t1.tel,t2.manager as managerId,
    t1.dept_name, t1.qq, t1.email, t1.note, t1.type,t2.status
    FROM cust_contact t1,cust_account_contact t2
    where t2.account_id = #{deptId,jdbcType=BIGINT}
    <if test="managerId != null">
      AND t2.manager = #{managerId,jdbcType=BIGINT}
    </if>
    <if test="id != null">
      AND t1.id = #{id,jdbcType=BIGINT}
    </if>
    <if test="deptId != null">
      AND t2.account_id = #{deptId,jdbcType=BIGINT}
    </if>
    <if test="tel != null">
      AND t1.tel = #{tel,jdbcType=VARCHAR}
    </if>
    AND t2.is_deleted = 0
    AND t1.is_deleted = 0
    AND t1.id = t2.contact_id
  </select>

  <!-- 更新open_id -->
  <update id="updateOpenId" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    update cust_contact set open_id = #{openId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 超市根据超市用户ID查询相关联的客户名称 -->
  <select id="selectAccountNameByEcId" resultType="java.lang.String" parameterType="java.lang.Integer">
    SELECT DISTINCT t7.name
    FROM cust_contact t1
    INNER JOIN cust_account_contact t2 ON t1.id=t2.contact_id and t2.is_deleted=0
    INNER JOIN cust_account t3 ON t2.account_id=t3.id and t3.is_deleted=0
    INNER JOIN cust_account t7 ON t3.parent_id=t7.id and t7.is_deleted=0
    WHERE t1.is_deleted=0 AND t2.status=1
    <if test="ecUserId != null">
      AND t1.ec_user_id= #{ecUserId,jdbcType=INTEGER}
     </if>
  </select>

  <!-- chengui 按超市用户id更新联系电话 -->
  <update id="updateTelByEcUserId" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    update cust_contact
    set tel = #{tel,jdbcType=VARCHAR},
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
  </update>

  <!-- chengui 按联系电话更新超市用户id -->
  <update id="updateEcUserIdByTel" parameterType="com.prcsteel.platform.account.model.model.Contact" >
    update cust_contact
    set ec_user_id = #{ecUserId,jdbcType=BIGINT},
    <if test="source != null" >
      source = #{source,jdbcType=VARCHAR},
    </if>
    <if test="companyName != null" >
      company_name = #{companyName,jdbcType=VARCHAR},
    </if>
    source = #{source,jdbcType=VARCHAR},
    last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
    last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
    where tel = #{tel,jdbcType=VARCHAR}
  </update>

  <!-- chengui 按超市用户id查询联系人信息 -->
  <select id="queryByEcUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cust_contact
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
    and is_deleted=0 LIMIT 0,1
  </select>
	
    <resultMap id="contactWithPotentialCustomerDtoMap" type="com.prcsteel.platform.account.model.dto.ContactWithPotentialCustomerDto">
        <result column="contact_id" property="contactId" jdbcType="BIGINT" />
        <result column="account_id" property="accountId" jdbcType="BIGINT" />
        <result column="ec_user_id" property="ecUserId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="tel" property="mobile" jdbcType="VARCHAR" />
        <result column="company" property="company" jdbcType="VARCHAR" />
        <result column="regdate" property="regdate" jdbcType="VARCHAR" />
        <result column="last_updated" property="lastUpdated" jdbcType="VARCHAR" />
        <result column="origin" property="origin" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryContactWithPotentialCustomer" resultMap="contactWithPotentialCustomerDtoMap" 
    		parameterType="com.prcsteel.platform.account.model.query.ContactWithPotentialCustomerQuery">
    	select c.id as contact_id, ac.account_id, c.ec_user_id, c.tel, c.name, c.company_name as company,
    		DATE_FORMAT(c.created, '%Y-%m-%d') as regdate, 
    		DATE_FORMAT(c.last_updated, '%Y-%m-%d') as last_updated,
    		c.source as origin, IF(ac.id is null, '0', '1') as status
    	from cust_contact as c
    		left join cust_account_contact as ac on ac.contact_id = c.id
		<where>
			c.source in ('APP', 'MARKET', 'PICK')
			<if test="name != null">
				and c.name = #{name}
			</if>
			<if test="tel != null">
				and c.tel = #{tel}
			</if>
			<if test="companyName != null">
				and c.company_name like CONCAT('%', #{companyName}, '%')
			</if>
          <if test="status!=null and status == false">
            and ac.id is null
          </if>
          <if test="status!=null and status == true">
            and ac.id is not null
          </if>
		</where>
		group by c.id 
    	limit #{start}, #{length}
    </select>
    
    <select id="totalContactWithPotentialCustomer" resultType="java.lang.Integer" 
    		parameterType="com.prcsteel.platform.account.model.query.ContactWithPotentialCustomerQuery">
    	select count(DISTINCT(c.id)) 
		from cust_contact as c
    		left join cust_account_contact as ac on ac.contact_id = c.id
		<where>
			c.source in ('APP', 'MARKET', 'PICK')
			<if test="name != null">
				and c.name = #{name}
			</if>
			<if test="tel != null">
				and c.tel = #{tel}
			</if>
			<if test="companyName != null">
				and c.company_name like CONCAT('%', #{companyName}, '%')
			</if>
            <if test="status!=null and status == false">
              and ac.id is null
            </if>
            <if test="status!=null and status == true">
              and ac.id is not null
            </if>
		</where>
    </select>
</mapper>