<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.account.persist.dao.ProxyFactoryDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.account.model.model.ProxyFactory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="nsort_name" property="nsortName" jdbcType="VARCHAR" />
    <result column="qualification" property="qualification" jdbcType="VARCHAR" />
    <result column="quantity_unit" property="quantityUnit" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="DECIMAL" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, factory, nsort_name, qualification, quantity_unit, quantity, stock, is_deleted, created,
    created_by, last_updated, last_updated_by, modification_number, row_id, parent_row_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cust_proxy_factory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryProxyFactoryList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
	select
	<include refid="Base_Column_List" />
	from cust_proxy_factory t1 where t1.account_id = #{accountId,jdbcType=BIGINT}  and t1.is_deleted = 0 order by t1.created desc 
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cust_proxy_factory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.prcsteel.platform.account.model.model.ProxyFactory" >
    insert into cust_proxy_factory (id, account_id, factory, 
      nsort_name, qualification, quantity_unit, quantity, stock,
      is_deleted, created, created_by,
      last_updated, last_updated_by, modification_number, 
      row_id, parent_row_id)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{factory,jdbcType=VARCHAR}, 
      #{nsortName,jdbcType=VARCHAR}, #{qualification,jdbcType=VARCHAR}, #{quantityUnit,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{stock,jdbcType=DECIMAL},
      #{isDeleted,jdbcType=BIT}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR},
      #{lastUpdated,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{modificationNumber,jdbcType=INTEGER}, 
      #{rowId,jdbcType=VARCHAR}, #{parentRowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.account.model.model.ProxyFactory" keyProperty="id" useGeneratedKeys="true">
    insert into cust_proxy_factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="nsortName != null" >
        nsort_name,
      </if>
      <if test="qualification != null" >
        qualification,
      </if>
      <if test="quantityUnit != null" >
        quantity_unit,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="nsortName != null" >
        #{nsortName,jdbcType=VARCHAR},
      </if>
      <if test="qualification != null" >
        #{qualification,jdbcType=VARCHAR},
      </if>
      <if test="quantityUnit != null" >
        #{quantityUnit,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.account.model.model.ProxyFactory" >
    update cust_proxy_factory
	<set>
		modification_number = modification_number+1,last_updated = now(),
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="nsortName != null" >
        nsort_name = #{nsortName,jdbcType=VARCHAR},
      </if>
      <if test="qualification != null" >
        qualification = #{qualification,jdbcType=VARCHAR},
      </if>
      <if test="quantityUnit != null" >
        quantity_unit = #{quantityUnit,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.account.model.model.ProxyFactory" >
    update cust_proxy_factory
    set account_id = #{accountId,jdbcType=BIGINT},
      factory = #{factory,jdbcType=VARCHAR},
      nsort_name = #{nsortName,jdbcType=VARCHAR},
      qualification = #{qualification,jdbcType=VARCHAR},
      quantity_unit = #{quantityUnit,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=DECIMAL},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>