<!-- 待收票详情(按品名) -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">发票管理</a>
        </li>
        <li>
            <a href="$link.getContextPath()/invoice/in/awaits.html">进项票管理</a>
        </li>
        <li class="active"><a href="$link.getContextPath()/invoice/in/nsort.html">待收票</a></li>
        <li class="active">详情</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar text-left">
                        	<input type="hidden" id="uuid" value="${uuid}">
                            <label>品名：<span id="nsortName">$!{nsortName}</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>材质：<span id="material">$!{material}</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>规格：<span id="spec">$!{spec}</span></label>
                        </div>
                    </div>
                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>公司全称</th>
                                <th>应收进项票重量（吨）</th>
                                <th>应收进项票金额（元）</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar text-right">
                        <label>应收发票合计：<span class="red">$!{NumberTool.format("#0.0000",$!{shouldWeight})}</span> 吨</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><span class="red">$!{NumberTool.toThousandth($!{shouldAmount})}</span>元</label>
                    </div>
                    <div class="text-center">
                        <a href="$link.getContextPath()/invoice/in/nsort.html">返回</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script src="$link.getContextPath()/js/views/invoice/detailbynsort.js"></script>
