<!--录入发票-->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">发票管理</a>
        </li>
        <li>
            <a href="$link.getContextPath()/invoice/in/awaits.html">进项票管理</a>
        </li>
        #if($!{invoiceId} && $!{invoiceId}>0)
			#if($!{from} == "send")
                <li><a href="$link.getContextPath()/invoice/in/send.html">待寄出</a></li>
			#else
                <li><a href="$link.getContextPath()/invoice/in/confirm.html">待确认</a></li>
			#end
        #else
        <li><a href="$link.getContextPath()/invoice/in/awaits.html">待收票</a></li>
        #end
        <li class="active">
        	#if($invoiceIn.relationStatus=="hasrelation")
				#if($invoiceIn.status == "RECEIVED")
					修改进项发票
				#else
                    核对进项发票
				#end
        	#elseif($!{invoiceId} && $!invoiceIn.relationStatus=="toberelation")
        	重新关联交易单
        	#else
        	录入进项发票
        	#end
       	</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<div id="pageContent" class="page-content">
    <form>
        <div class="row">
            <div class="col-xs-12">
            	<div class="page-content">
                    <div class="col-xs-12">
                        <div class="step-bar">
                            <div class="ystep4"></div>

                            <div class="ystep2" style="margin-left:200px;"></div>
                        </div>
                    </div>
                </div>
                <!-- div.table-bar -->
                <div class="invoice-tit text-center" style="width:100%;">
                    <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar text-left">
                        <label>
                        	卖家全称：
                        	<span id="sellerName">$!{poolIn.sellerName}</span>
							#if($departments && $departments.size()>1 && $!poolIn.departmentName)
                                【<span id="depName">$!{poolIn.departmentName}</span>】
							#end
                        </label>
                    </div>
                    <div class="pull-left">
                    	<label>区位码：
                        	<input type="text" id="areaCode" value="$!{invoiceAreaCode}" maxlength="10" must="1" verify='number' class="c-text"/>
                    	</label>
						<br/>
						<label><input type="checkbox" id="allowanceChk" #if(${inAllowance}) checked="checked" #end >有折让项目</label><img id="allowanceImg" src="" />
                    </div>
                    <span><img src="$link.getContextPath()/img/fp.png" width="170" height="80" /></span>
                    <div class="pull-right">
                        <label>
                            发票号No：&nbsp;<input type="text" id="invoiceCode" must="1" verify='number' maxlength="8" 
                            class="c-text" value="$!{invoiceIn.code}"/>
                        </label><br />
                        <label>
                            &nbsp;<span class="inv-red">开票日期：</span>
                            <input id="invoiceDate" type="text" must="1" class="c-text"
                                   onFocus="WdatePicker({maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})"
                                   value = "$!date.format('yyyy-MM-dd',$!{invoiceIn.invoiceDate})"/>
                        </label>
                    </div>
                </div>
                <div class="table-bar">
                    <table class="invoice-table-first " style="width:100%;">
                        <tbody>
                        <tr class="border-btm-none">
                            <td width="30px"><span class="inv-red">购买方</span></td>
                            <td width="500px">
                                <ul>
                                    <li><span class="inv-red">名　　　　称：</span><span>杭州钢为网络科技有限公司</span></li>
                                    <li><span class="inv-red">纳税人识别号：</span><span>91330103MA27X0F7XW</span></li>
                                    <li><span class="inv-red">地址、　电话：</span>
                                        <span>杭州市下城区岳帅桥路10号1幢745室 0571-89718799</span>
                                    </li>
                                    <li><span class="inv-red">开户行及账号：</span><span>浦发银行杭州钱塘支行95090154800004792</span></li>
                                </ul>
                            </td>
                            <td width="25px"><span class="inv-red">密码区</span></td>
                            <td width="500px" style="border-bottom:0;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="dynamic-table" class="invoice-table text-center" style="width:100%;" >
                    	<thead>
	                        <tr class="border-btm-none inv-red">
	                            <td width="220px" >货物或应税劳务、服务名称</td>
	                            <td width="135">规格型号</td>
	                            <td width="50">单位</td>
	                            <td width="50">数量</td>
	                            <td width="110">单价</td>
	                            <td width="70">金额</td>
	                            <td width="40">税率</td>
	                            <td width="100">税额</td>
	                            <td width="100">价税合计</td>
	                            <td style="display: none">状态值</td>
	                            <td width="60">状态</td>
	                            <td width="140">操作</td>
	                            <td width="140">备注</td>
	                        </tr>
                    	</thead>
                        <tbody id="dynamic-table-body">
						#if(${inAllowance})
                        	<tr class="border-tb-none" id="allowanceRow" allowanceitems="">
                            <td width="220px">
                                <input type="hidden" name="invoiceDetailId" value="" disabled="disabled" readonly="readonly">
                                <input type="text" name="nsortNameComb" value="$!{inAllowance.cargoName}" maxlength="200" must="1" class="input-sm" disabled="disabled" readonly="readonly">
                            </td>
                            <td width="135">
                                <select name="typeOfSpec" cstate="rebating" disabled="disabled" readonly="readonly">
                                    <option value="none">无</option>
                                    <option value="mm">Φ</option>
                                    <option value="radix">△</option>
                                    <option value="rebate" selected="selected">折扣</option>
                                </select>
                                <input type="text" name="spec" maxlength="45" must="1" class="d-text" disabled="disabled" readonly="readonly">
                            </td>
                            <td width="50">吨</td>
                            <td width="50">
                                <input type="text" value="0" name="weight" maxlength="19" must="1" verify="weight" class="d-text text-right" disabled="disabled" readonly="readonly">
                            </td>
                            <td width="110"><span name="price">-</span></td>
                            <td width="70">
								#set($noTaxAmount=0-$!{inAllowance.noTaxAmount})
                                <span>-</span><input type="text" value="$!{cbmsNumberUtil.buildMoney(${noTaxAmount})}" name="noTaxAmount" maxlength="19" must="1" verify="rmb" class="d-text text-right" disabled="disabled" readonly="readonly">
                            </td>
                            <td width="40">17%</td>
                            <td width="60">
								#set($taxAmount=0-$!{inAllowance.taxAmount})
                                <span>-</span><input type="text" value="$!{cbmsNumberUtil.buildMoney(${taxAmount})}" name="taxAmount" maxlength="19" must="1" verify="rmb" class="d-text text-right" disabled="disabled" readonly="readonly">
                            </td>
								#set($amount=0-$!{inAllowance.amount})
                            <td width="100"><span>-</span><span name="amount">$!{cbmsNumberUtil.formatMoney(${amount})}</span></td>
                            <td width="60">
                                <span name="status" class="grey bo">
									#if($!{inAllowance.relationStatus}=="toberelation")
                                        <span style='color:Red;'>待关联</span>
									#else
                                        <span style='color:Green;'>已关联</span>
									#end
                                </span>
                            </td>
                            <td width="140">
                                <input type="hidden" name="relatedOrderItemIds" value="" class="none">
								#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:edit"))
								|| ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:edit"))
								|| ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:edit"))
								|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:edit")))
                                   <button type="button" name="allowanceEdit" class="btn btn-xs btn-info copy-inv #if($inAllowance.relationStatus=="toberelation") none #end">修改</button>
								#end
								#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:relate"))
								|| ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:relate"))
								|| ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:relate"))
								|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:relate")))
                                    <button type="button" name="allowanceRelate" class="btn btn-xs btn-info look-relate #if($inAllowance.relationStatus!="toberelation") none #end">关联</button>
								#end
								#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:viewRelate"))
								|| ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:viewRelate"))
								|| ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:viewRelate"))
								|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:viewRelate")))
                                    <button type="button" name="allowanceViewRelate" class="btn btn-xs btn-info look-relate #if($inAllowance.relationStatus=="toberelation") none #end">查看关联</button>
								#end 
								#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:cancelelation"))
								|| ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:cancelelation"))
								|| ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:cancelelation"))
								|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:cancelelation")))
                                    <button type="button" name="allowanceCancel" class="btn btn-xs btn-info cancel-relate #if($inAllowance.relationStatus=="toberelation") none #end">取消关联</button>
								#end
                            </td>
                            
                        </tr>
						#end
                        </tbody>
                        <tfoot>
                        	<tr class="border-btm-none">
	                            <td width="220px" ><span class="inv-red">合计</span></td>
	                            <td width="135"></td>
	                            <td width="50"></td>
	                            <td width="50"></td>
	                            <td width="110"></td>
	                            <td width="70" class="text-right"><span id="totalNoTaxAmount"></span></td>
	                            <td width="40"></td>
	                            <td width="100" class="text-right"><span id="totalTaxAmount"></span></td>
	                            <td width="100"></td>
	                            <td width="60"></td>
	                            <td width="140">
                                    #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:add"))
                                    ||($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:add"))
                                    ||($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:add"))
									||($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:add")))
                                    <button type="button" id="addNewRow" class="btn btn-xs btn-info add-inv">添加</button>
                                    #end
                                </td>
                                 <td width="140" style="border-top:none; border-bottom:none;">
                                </td>
	                        </tr>
	                        <tr>
	                            <td><span class="inv-red">价税合计</span></td>
	                            <td colspan="7" style="border-right: none;text-align: right;">
	                            	<span class="rmb inv-red">￥</span>
	                            </td>
	                            <td colspan="3" style="text-align: left;border-left: none;">
	                                <label>
	                                	#if($!invoiceIn.checkTotalAmount && $!invoiceIn.checkTotalAmount.doubleValue()>0)
	                                		#set($tmpAmount=$!cbmsNumberUtil.formatMoney($!invoiceIn.checkTotalAmount.doubleValue()))
	                                		<input id="isAmountChecked" value="true" type="hidden"/>
                                		#else 
                                			#set($tmpAmount=$!cbmsNumberUtil.formatMoney($!invoiceIn.totalAmount.doubleValue()))
                                			<input id="isAmountChecked" value="false" type="hidden"/>
                               			#end
	                                    <input type="text" id="invoiceAmount" must="1" maxlength="16" 
	                                    	verify='rmb' class="input-sm text-right" style="margin-bottom: 2px;"
	                                    	value="$!tmpAmount"/>
                                    	<button class="btn btn-primary btn-sm none" type="button" 
                                    		id="modifyTotalAmount" title="修改">修改</button>
	                                </label>
	                            </td>
	                            <td width="140" style="border-top:none;">
                                </td>
	                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="center btn-bar ">
            	<a href="javascript:cbms.confirm('确定离开当前页面？',null,function(){history.go(-1)});" style="float: left;" class="btn btn-default btn-sm">返回</a>
				#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:submitInvoice"))
                ||($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:submitInvoice"))
                ||($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:submitInvoice"))
				||($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:submitInvoice")))
				<button class="btn btn-primary btn-sm" type="button" id="submitInvoice" title="提交">提交</button>
				#end
            </div>
        </div>
		<div id="assignDialog" style="display: none;">
			<div class="row" style="padding: 4px;height:360px;width:1250px;">
				<div class="col-xs-12">
					<!-- div.table-bar -->
					<div id="assign_searchBar" class="clearfix">
						<div
							class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar">
							<form id="searchForm" class="form-inline">
								<label>卖家部门：</label>
								<select id="selectDepartment" onchange="doSelectDepartment()">
									<option value="">全部</option>
									#foreach($department in ${departments})
						                <option value="$!{department.id}">$!{department.name}</option>
						            #end
								</select>
								
								<input type="hidden" id="assign_currentRowId"/>
								<label>合同号：</label>
								<input id="assign_contract" class="a-text" type="text" value=""/>
								<label>品名：</label>
								<input id="assign_nsort" class="c-text" type="text" value=""/>
								<label>材质：</label>
								<input id="assign_materials" class="d-text" type="text" value=""/>
								<label>规格：</label>
								<input id="assign_spec" class="d-text" type="text" value=""/>
                                <label>采购单价：</label>
                                <input id="assign_price" class="d-text" type="text" value=""/>
                                <label>重量：</label>
                                <input id="assign_weight" class="d-text" type="text" value=""/>
								<label>开单时间：</label> 
								<input id="assign_beginDate" value="" class="Wdate" type="text"
									onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'assign_endDate\')||\'2020-10-01\'}'})"/>
								<input id="assign_endDate" type="hidden"/>
								&nbsp;
								##<button id="assign_clearCondition" class="btn btn-sm btn-default" type="button" title="清空">
								##	<i class="aace-icon fa fa-square-o bigger-110"></i>清空
								##</button>
								&nbsp;
								<button id="assign_doSearch" class="btn btn-sm btn-default" type="button" title="搜索">
									<i class="aace-icon fa fa-search bigger-110"></i>搜索
								</button>
							</form>
						</div>
					</div>
					<div class="table-bar" style="height:180px;">
						<table class="table text-center" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th>开票日期</th>
									<th>卖家全称</th>
									<th>货物或应税劳务名称</th>
									<th>规格型号</th>
									<th>数量/重量(吨)</th>
                                    <th>发票单价</th>
									<th>价税合计（元）</th>
									<th>剩余重量</th>
									<th>剩余金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id="assign_invoiceDate">开票时间</td>
									<td id="assign_sellerName">卖家全称</td>
									<td id="assign_cargoName">货物或应税劳务名称</td>
									<td id="assign_cargoSpec">规格型号</td>
									<td id="assign_cargoWeight">数量/重量(吨)</td>
                                    <td id="assign_priceTax">含税单价(元/吨)</td>
									<td id="assign_priceTaxAmount">价税合计</td>
									<td id="assign_remainWeight">剩余重量</td>
									<td id="assign_remainAmount">剩余金额</td>
								</tr>
							</tbody>
						</table>
						<div style="overflow: auto;overflow-x:hidden;height:230px; ">
						<table id="relateTable" class="table text-center">
							<thead>
								<tr>
									<th>选择</th>
									<th>时间</th>
									<th>交易单号</th>
									<th>合同号</th>
									<th>买家名称</th>
									<th>品名</th>
									<th>材质</th>
									<th>规格</th>
                                    <th>采购单价</th>
									<th>未到票重量(吨)</th>
									<th>未到票金额(元)</th>
									<th>到票重量</th>
									<th>到票金额</th>
								</tr>
							</thead>
							<tbody id="relateTableBody">
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
                                    <td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
			<div id="assign_controlBar" class="clearfix" style="padding: 4px;">
				<div class="pull-left btn-bar ">
					#if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:assign:cancelSelect"))
                    || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:assign:cancelSelect"))
                    || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:assign:cancelSelect"))
					|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:assign:cancelSelect")))
					<button class="btn btn-info btn-sm" type="button" id="assign_cancelSelect">取消选择</button>
					#end
                    #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:assign:sysSuggestion"))
                    || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:assign:sysSuggestion"))
                    || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:assign:sysSuggestion"))
					|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:assign:sysSuggestion")))
					<button class="btn btn-info btn-sm" type="button" id="assign_sysSuggestion">系统推荐</button>
					#end
                    #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:assign:enter"))
                    || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:assign:enter"))
                    || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:assign:enter"))
					|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:assign:enter")))
					<button class="btn btn-primary btn-sm" type="button" id="assign_enter">确定</button>
					#end
				</div>
			</div>
		</div>
		<!--折让关联弹窗-->
        <div id="allowanceDialog" style="display: none;">
            <div class="row" style="padding: 4px;height:360px;width:1150px;">
                <div class="col-xs-12">
                    <!-- div.table-bar -->
                    <div class="clearfix">
                        <div class="input-group pull-left col-md-12 col-sm-12 col-lg-12 form-inline">
                            <input type="hidden" id="allowanceCurrentRowId"/>
                            <label>货物或应税劳务名称：</label>
                            <span id="allowanceCargoName"></span>&nbsp;&nbsp;
                            <label>价税合计（元）：</label>
							<span id="allowancePriceTaxAmount"></span>&nbsp;&nbsp;
                            <label>剩余金额（元）：</label>
                            <span id="allowanceRemainAmount" class="red"></span>
                        </div>
                    </div>
                    <div class="table-bar" style="height:180px;">
                        <div style="overflow: auto;overflow-x:hidden;height:230px; ">
                            <table id="allowanceTable" class="table text-center">
                                <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>折让单号</th>
                                    <th>时间</th>
                                    <th>卖家全称</th>
                                    <th>买家全称</th>
                                    <th>品名</th>
                                    <th>材质</th>
                                    <th>规格</th>
                                    <th>折扣金额</th>
                                </tr>
                                </thead>
                                <tbody id="allowanceTableBody">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="padding: 4px;">
                <div class="pull-left btn-bar ">
                        <button class="btn btn-info btn-sm" type="button" id="allowanceCancel">取消</button>
                        <button class="btn btn-primary btn-sm" type="button" id="allowanceEnter">确定</button>
                </div>
            </div>
        </div>
		<!-- /.page-content -->
	</form>

</div><!-- /.page-content -->
<div style="display: none;">
<table>
	<tr class="border-tb-none" id="firstRow">
	    <td width="220px" >
	    	<input type="hidden" name="invoiceDetailId" value=""/>
	        <input type="text" name="nsortNameComb" style="width:80px;" maxlength="200" must="1" class="input-sm"/>
	        <input type="text" name="categoryName" style="width:85px;"  must="1" class="input-sm categoryName" readonly="readonly"/>
	        <input type='hidden' name='categoryId' value=""/>
	        <input type='hidden' name='aliasId' value=""/>
	    </td>
	    <td width="135">
	        <select name="typeOfSpec" >
	            #foreach($specSign in ${specSignList})
	                <option value="$!{specSign.settingValue}">$!{specSign.displayName}</option>
	            #end
	        </select>
	        <input type="text" name="spec" maxlength="45" must="1" class="d-text"/>
	    </td>
	    <td width="50">吨</td>
	    <td width="50">
	        <input type="text" value="0" name="weight" maxlength="19" must="1" verify="weight" class="d-text text-right"/>
	    </td>
	    <td width="110"><span name="price">0</span></td>
	    <td width="70">
	        <input type="text" value="0" name="noTaxAmount" maxlength="19" must="1" verify="rmb" class="d-text text-right"/>
	    </td>
	    <td width="40">17%</td>
	    <td width="60">
	        <input type="text" value="0" name="taxAmount" maxlength="19" must="1" verify="rmb" class="d-text text-right"/>
	    </td>
	    <td width="100"><span name="amount">0</span></td>
	    <td width="60">
	        <span name="status" class="grey bo"><span style='color:Red;'>待关联</span></span>
	    </td>
	    <td width="140">
	    	<input type="hidden" name="relatedOrderItemIds"/>
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:edit"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:edit"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:edit"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:edit")))
	        <button type="button" name='edit' class="btn btn-xs btn-info copy-inv none">修改</button>
			#end
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:copy"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:copy"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:copy"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:copy")))
	        <button type="button" name='copy' class="btn btn-xs btn-info modify-inv">复制</button>
			#end
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:relate"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:relate"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:relate"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:relate")))
	        <button type="button" name="relate" class="btn btn-xs btn-info look-relate">关联</button>
			#end
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:delete"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:delete"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:delete"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:delete")))
	        <button type="button" name='delete' class="btn btn-xs btn-info del-inv">删除</button>
            #end
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:viewRelate"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:viewRelate"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:viewRelate"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:viewRelate")))
	        <button type="button" name="viewRelate" class="btn btn-xs btn-info look-relate none">查看关联</button>
            #end
            #if(($from && $from=="awaits" && $shiro.hasPermission("invoice:in:inputinvoice:awaits:cancelelation"))
            || ($from && $from=="returntoberelation" && $shiro.hasPermission("invoice:in:inputinvoice:returntoberelation:cancelelation"))
            || ($from && $from=="confirm" && $shiro.hasPermission("invoice:in:inputinvoice:confirm:cancelelation"))
			|| ($from && $from=="send" && $shiro.hasPermission("invoice:in:inputinvoice:send:cancelelation")))
	        <button type="button" name='cancelelation' class="btn btn-xs btn-info cancel-relate none">取消关联</button>
            #end
	    </td>
	    <td rowspan="2" width="140" style = "border-bottom:none;" class="memoTd">
			<textarea rows="2" cols="10" class="memo"></textarea>
		</td>
	</tr>
</table>
</div>

<!--品名下拉框-->
<div class="categories-layout" id="categories-layout">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="category-title text-center">所属大类</th>
				<th>品名</th>
			</tr>
		</thead>
		<tbody>
			#foreach( $group in $categories)
			<tr>
				<td class="text-center bold">$group.categoryGroupName</td>
				<td>
					<ul class="list-inline">	
					#foreach( $category in $group.CategoryDtoList)
						<li><a class="category-label" categoryId='$!category.id' href="javascript:;">$category.name</a></li>
					#end
					</ul>
				</td>
			</tr>
			#end
		</tbody>
	</table>
</div>


<style tepe="text/css">
	.search-categories{position:absolute; z-index:10; display:none;}
	.categories-layout{width:900px; background:#fff; display:none; border:1px solid #C81623; position:absolute; z-index:10;}
	.category-title{width:120px;}
	.bold{font-weight:bold;}
	.categories-layout a{padding: 4px 8px;}
	.categories-layout a:hover{background: #C81623; color:white;}
</style>

<script type="text/javascript">
	var _pageContext = {
		#if($!{invoiceId})
			invoiceStatus : '$!invoiceIn.status',
			relationStatus : '$invoiceIn.relationStatus',
			checkUserName : '$!invoiceIn.checkUserName',
			#if($shiro.hasPermission("invoice:in:inputinvoice:confirm:edit"))
			hasCheckPermission : true,
		    #else
	    	hasCheckPermission : false,
		    #end
			checkTotalAmount : '$!invoiceIn.checkTotalAmount'
			,_from:'$!from'
			,memo: '$!invoiceIn.memo'
		#end
	};
</script>
<input type="hidden" id="sellerId" value="$!{poolIn.sellerId}"/>
<input type="hidden" id="departmentId" value="$!{poolIn.departmentId}"/>
<input type="hidden" id="departmentName" value="$!{poolIn.departmentName}"/>
<input type="hidden" id="invoiceId" value="$!{invoiceId}"/>
<input type="hidden" id="allowAmountDeviation" value="$!{allowAmountDeviation}"/>
<input type="hidden" id="allowWeightDeviation" value="$!{allowWeightDeviation}"/>
<input type="hidden" id="filterText" value="$!{filterText}"/>
<input type="hidden" id="inAllowanceId" value="${inAllowance.id}"/>
<script src="$link.getContextPath()/js/views/invoice/invoiceinpublic.js"></script>
<script src="$link.getContextPath()/js/views/invoice/inputinvoice.js?v=1.1.8"></script>
<script src="$link.getContextPath()/theme/default/js/ystep.js"></script>
