<style>
.setInfobar table{position:absolute;z-index:9;right:-10px;width:400px;top:20px}
</style>
<!-- 待寄出 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">发票管理</a>
        </li>
        <li>
            <a href="$link.getContextPath()/invoice/in/awaits.html">进项票管理</a>
        </li>
        <li class="active">待寄出</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<input name='ConsumeApplyControlSwitch' type='hidden' value='$!ConsumeApplyControlSwitch'/>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!--TAPBAR-->
            <!-- tapbar S -->
            #invoiceTabBar
            <!-- tapbar E -->
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar text-left">
                            <form class="form-inline">
                                是否可寄出：<select id="selectsend">
                                <option value="">全部</option>
                                <option value="nosend">不可寄出</option>
                                <option value="yessend">可寄出</option>
                                      </select>
                                <label>卖家全称：<input id="seller" class="ipt-text" type="text" search="account"
                                                   accounttype="seller" value=""/></label>
                                <label class="pos-rel" id="org_options">服务中心：
                                    <a id="orgSelectBtn" href="javascript:void(0);">选择服务中心</a>
                                    <div id="orgSelect" class='pos-abs none' style="z-index:10;top:15px;left:70px;width:120px;background:#fff;border:1px solid #ccc">
                                        <ul>
                                            <li class="text-left" style="padding:5px;">
                                                <label class="pos-rel">
                                                    <input type="checkbox" id="selectAllOrg" class="ace" value="all">
                                                    <span class="lbl">全部服务中心</span>
                                                </label>
                                            </li>
                                            #foreach($org in $!orgs)
                                                <li class="text-left" style="padding:5px;">
                                                    <label class="pos-rel">
                                                        <input type="checkbox"  class="ace" value="$org.id">
                                                        <span class="lbl">$org.name</span>
                                                    </label>
                                                </li>
                                            #end
                                        </ul>
                                    </div>
                                </label>

                                <label>录入人员：<input id="traderName" class="ipt-text" type="text" /></label>
                                <label>录入时间：</label>
                                <input id="startTime" class="Wdate" type="text" value="$!{startTime}"
                                       readonly="readonly"
                                       onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}'})"/> -
                                <input id="endTime" class="Wdate" type="text" value="$!{endTime}" readonly="readonly"
                                       onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'%y-%M-%d'})"/>
                                <button id="queryBtn" class="btn btn-sm btn-default" type="button" title="搜索">
                                    <i class="aace-icon fa fa-search bigger-110"></i>搜索
                                </button>

                            </form>
                        </div>
                    </div>

                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="allCheck"/></th>
                                <th>开票时间</th>
                                <th>进项发票号</th>
                                <th>卖家全称</th>
                                <th>发票金额</th>
                                <th style="width:110px;">录入人员</th>
                                <th>联系电话</th>
                                <th>录入时间</th>
                                <th>发票状态</th>
                                <th>服务中心</th>
                                #if($ConsumeApplyControlSwitch == '1')
                                <th>是否可寄出</th>
                                #end
                                <th>操作</th>
                            </tr>
                            </thead>

                                <tfoot>
                                <tr>
                                    <td colspan="#if($ConsumeApplyControlSwitch == '1') 12 #else 11 #end">
                                        <label>一共选择了 <span class="red" id="checkCount">0</span> 条发票</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                        #if($shiro.hasPermission("invoice:in:send:input"))
                                        <button id="checkIn" class="btn btn-sm btn-primary">登记快递单号</button>
                                        #end
                                        #if($shiro.hasPermission("invoice:in:send:print"))
                                        <button type="button" id="prints" class="btn btn-sm btn-primary">打印清单</button>
                                        #end
                                        <button id="exportBtn" class="btn btn-sm btn-primary" type="button" title="导出EXCEL">
                                            导出EXCEL
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;overflow-x:hidden; overflow-y:auto;max-height:400px">
    <ul id="orgTree" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>
<input type="hidden" id="status" value="$!{status}">
<input type="hidden" id="edit" value="$shiro.hasPermission("invoice:in:inputinvoice:send:modify")"/>
<script src="$link.getContextPath()/js/views/invoice/invoiceUtils.js"></script>
<script src="$link.getContextPath()/js/views/invoice/insend.js"></script>
<script src="$link.getContextPath()/js/views/account/searchaccount.js"></script>
<script src="$link.getContextPath()/js/views/user/userorg.js"></script>
<script src="$link.getContextPath()/js/views/report/business/businesscommon.js"></script>
