<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<import resource="cbms-config.xml" />
	<import resource="camel-config.xml" />
	<context:component-scan base-package="com.prcsteel.platform.order.web.controller" />
	<context:component-scan base-package="com.prcsteel.platform.order.web.support" />
	<context:component-scan base-package="com.prcsteel.platform.order.web.job" />

	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager" />
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="false" />
		<property name="ignoreAcceptHeader" value="false" />
		<property name="mediaTypes">
			<value>
				atom=application/atom+xml
				html=text/html
				json=application/json
				*=*/*
			</value>
		</property>
	</bean>

	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="configLocation">
			<value>classpath:/velocity.properties</value>
		</property>
	</bean>

	<bean id="reportsXmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:spring-reports.xml"/>
		<property name="order" value="0"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="suffix" value=".vm" />
		<property name="layoutUrl" value="layout/default.vm" />
		<property name="contentType" value="text/html;charset=utf-8" />
		<property name="toolboxConfigLocation" value="WEB-INF/vm-toolbox.xml" />
		<property name="order" value="1"></property>
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="40000000" />
	</bean>
	
	<bean id="webAppContextUtil" class="com.prcsteel.platform.order.web.utils.WebAppContextUtil">
		<property name="userService" ref="userService"></property>
		<property name="roleService" ref="roleService"></property>
		<property name="organizationService" ref="organizationService"></property>
	</bean>

	<bean class="com.prcsteel.platform.order.web.config.SwaggerConfiguration"/>

	<!-- 当Spring容器启动完成后执行下面的这个Bean -->
	<!--
	<bean id="ltsStartup" class="com.prcsteel.lts.jobclient.JobClientStartup" init-method="submit">
		<property name="jobClients">
			<list>
				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="close_order_job"></property>
					<property name="cron" value="0 30 17 * * ?"></property>
					<property name="uri" value="${app.server}jobService/closeOrderJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="sync_transaction_data_job"></property>
					<property name="cron" value="0 */1 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/syncTransactionDataJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="start_rebate_and_reward_job"></property>
					<property name="cron" value="* * * 1 * ?"></property>
					<property name="uri" value="${app.server}jobService/startRebateAndReward.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="local_transaction_data_job"></property>
					<property name="cron" value="1 * * * * ?"></property>
					<property name="uri" value="${app.server}jobService/localTransactionDataJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="sync_with_draw_job"></property>
					<property name="cron" value="0 */10 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/syncWithDrawJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="sync_receipt_data_job"></property>
					<property name="cron" value="0 */5 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/syncReceiptDataJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="icbcbdl_data_job"></property>
					<property name="cron" value="0 */1 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/icbcBdlDataJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="spdbbdl_data_job"></property>
					<property name="cron" value="0 */1 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/spdbBdlDataJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="calculate_orgday_job"></property>
					<property name="cron" value="0 */1 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/calculateOrgDayJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="send_report_mail_job"></property>
					<property name="cron" value="0 * * * * ?"></property>
					<property name="uri" value="${app.server}jobService/sendReportMailJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="close_allowance_job"></property>
					<property name="cron" value="0 */5 * * * ?"></property>
					<property name="uri" value="${app.server}jobService/closeAllowanceJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>

				<bean class="com.prcsteel.lts.jobclient.client.RestJobClient">
					<property name="taskId" value="receipt_data_to_this_sys_job"></property>
					<property name="cron" value="0 * * * * ?"></property>
					<property name="uri" value="${app.server}jobService/receiptDataToThisSysJob.html"></property>
					<property name="method" value="GET"></property>
					<property name="params" value="{}"></property>
				</bean>
			</list>
		</property>
	</bean>
	-->
</beans>