<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			交易管理
		</li>
		<li>
            <a href="$link.getContextPath()/allowance/list/buyer.html">折让单管理</a>
		</li>
		<li class="active">添加买家折让单</li>
	</ul><!-- /.breadcrumb -->

		#parse("layout/topbtn.vm")<!-- /.nav-search -->
</div>

<div class="page-content">

	<div style="background-color: #f3c17a">
        <ul class="breadcrumb">
            <li class="red"><span id="step_one_span">1、选择交易单</span></li>
            <li><span id="step_two_span">2、添加折扣金额 </span></li>
        </ul>
    </div>
	</br>
	
	<form id="createForm">
		<div class="input-group pull-left col-md-12 col-sm-12 col-lg-12">
		    <span class="pull-left">
		    	<label>
					买 家 全 称&nbsp;
		        	<input type="text" id="buyer" accountid="0" maxlength="50" search="account"
	                                   accounttype="buyer"
	                                   class="c-text"/>
					合  同  号&nbsp;
					<input id="contractCode" type="text">	    	
		    	</label>
		    	</br>
		        <label>
					寄售交易单号&nbsp;
					<input id="orderCode" type="text">
	            	时间&nbsp;
	            	<input id="startTime" class="Wdate" type="text" value="$!{startTime}"
		               onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})"/> -
		        	<input id="endTime" class="Wdate" type="text"  value="$!{endTime}"
		               onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})"/>
		        </label>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        <button id="btnSearch" type="button" class="btn-sm btn btn-info">搜索</button>
		    </span>
		</div>
	</form>
	<div class="table-bar col-sm-12">
        <table id="list-table" class="table table-bordered table-hover">
            <thead>
            <tr>
               <th><input type="checkbox" id="allCheck"/></th>
               <th>开单时间</th>
               <th>合同号</th>
               <th>寄售交易单号</th>
               <th>买家全称</th>
               <th>件数(件)</th>
               <th>总重量(吨)</th>
               <th>实提总重量(吨)</th>
               <th>总金额(元)</th>
               <th>实提总金额(元)</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="10">
                    <label>一共选择了 <span class="red" id="checkCount">0</span> 条订单</label>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <a href="javascript:history.back(-1);"
                    	aria-expanded="true" >返回</a>
                    <button type="button" id="allowanceNext" class="btn btn-sm pull-right btn-primary">下一步</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>


</div>

<script src="$link.getContextPath()/js/views/account/searchaccount.js"></script>
<script src="$link.getContextPath()/js/views/allowance/buyerorder.js"></script>