#set($layout="layout/blank.vm")
    <div style='width: 400px;margin-top:25px;'>
        <form id='areaForm' class='form-horizontal' >
        	<input type="hidden" name="id" value="$!area.id">
            <div class='form-group'>
            	<label class='col-sm-3 control-label no-padding-right' for='txtNewPwd2'>区域类别:</label>
                <div class='col-sm-9'><input  type='text' must='1' name="zoneName" placeholder='请输入区域类别' class='col-xs-10 col-sm-5'
					value="$!area.zoneName" />
				</div>
            </div>
            <div class='form-group'>
				<label class='col-sm-3 control-label no-padding-right' for='txtNewPwd2'>区域名称:</label>
                <div class='col-sm-9'>
               		<input  type='text' must='1' name="name" placeholder='请输入区域名称' class='col-xs-10 col-sm-5'value="$!area.name" />
               		<label><input name="enable" type="radio" value="1" checked="true"/>启用</label>
               		<label><input name="enable" type="radio" value="0" #if($!area.isEnable ==  0) checked="true" #end/>停用</label>
				</div>	            
            </div>
            <div id="cityRegion">
            	#foreach( $cc in $centerCity )
					#set( $centerCityName = $cc.name)
					#set( $centerCityId = $cc.id)
				#end
	            <div class='form-group'><label class='col-sm-3 control-label no-padding-right' for='txtNewPwd2'>添加城市:</label>
	                 &nbsp;&nbsp;<input id="centerCity"  must="1" placeholder='中心城市不能为空' data-original-title="中心城市不能为空" 
	                value="$!centerCityName" val="$!centerCityId" func="checkCenterCity">
	                 <span id="addCity" class="fa fa-plus" style="cursor:pointer;" ></span>
	            </div>
	            #foreach( $refCity in $refCitys )
					<div class='form-group'><label class='col-sm-3 control-label no-padding-right' for='txtNewPwd2'></label>
	                   &nbsp; <input search='city' class="city"  data-original-title="不能为空" val="$refCity.id" value="$!refCity.name" >	<span onclick='minusCity(this)' class="fa fa-minus" style="cursor:pointer;"> </span><br>
	           	 	</div>
				#end
				
            </div>
            <div class="modal-footer">
            	<button onclick="formSubmit(this)" data-bb-handler="success" id="saveBtn" type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-check"></i> 保存</button>
                <button onclick="closeForm()" data-bb-handler="button" type="button" class="btn btn-sm">取消</button>
            </div>
        </form>
    </div>
<script src="$link.getContextPath()/js/puzzymatch.js"></script>
<script src="$link.getContextPath()/js/views/smartmatch/area/create.js"></script>