<!-- 买家年度采购协议界面 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch(e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">客户管理</a>
        </li>
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="$link.getContextPath()/company/list.html">我的客户</a>
        </li>
        <li class="active">
            编辑买家年度采购协议
        </li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content print-page">
			<div class="row">
				<div class="col-xs-12">

					<!-- PAGE CONTENT BEGINS -->
					<!-- table-bar-->
					<div id="print1" class="table-bar tab-pane in active">
						<h1 class="bolder text-center clearfix"><span class="logo-bar print-logo pull-left"><img src="$link.getContextPath()/img/print-logo.png" /></span><span style="margin-right:100px">钢材销售协议</span></h1>
						<table class="contable print-table border0 mg-t-35">
							<tbody class="border0">
								<tr>
									<td colspan="5">需方(甲方)： $!{contractInfo.companyName}</td>
									<td colspan="5">合同编号：  </td>
								</tr>
								<tr>
									<td colspan="5">供方(乙方)： 杭州钢为网络科技有限公司</td>
									<td colspan="5">签订时间：　　　年　　　月　　　日</td>
								</tr>
								<tr>
									<td colspan="5"></td>
									<td colspan="5">签订地点： 杭州市下城区</td>
								</tr>
							</tbody>
						</table>
				      
		                <form id="yearPurchaseForm" action="$link.getContextPath()/agreementTemplate/saveyearpurchase.html" method="POST" enctype="multipart/form-data">
		                    <input type="hidden" name="accountId" value="$!{companyId}" id="accountId"/>
		                    <input type="hidden" name="renewAfterExpriration" value="$!{renewAfterExpriration}" id="renewAfterExpriration"/>
		                    <div class="col-xs-12">
		                        <textarea cols="150" rows="50" name="content" id="content" must="1">
		                            $!{content}
		                        </textarea>
		                    </div>
		                    
		                    <div>
	                    		<input type="checkbox" id="renew" value="$!{renewAfterExpriration}" #if(${renewAfterExpriration}==1) checked#end/>到期后续签
							</div>	
								 							
							<table class="contable print-table border0">
								<tbody>
									<tr>
										<td width="90">需方（章）：</td><td colspan="5" width="200"></td><td width="90">供方（章）：</td><td colspan="3" width="200">杭州钢为网络科技有限公司</td>
									</tr>
	
									<tr>
										<td>签约代表人：</td><td colspan="5"></td><td>签约代表人：</td><td colspan="3"></td>
									</tr>
									<tr>
										<td class="lh-25">日期：</td><td colspan="5" class="lh-25">2016年　　　月　　　日</td>
										<td class="lh-25">日期：</td><td colspan="3" class="lh-25">2016年　　　月　　　日</td>
									</tr>
								</tbody>
							</table>
							
							<div class="btn-bar text-center">
					            <button id="btnSubmit" class="btn btn-info"><i class="fa fa-submit"></i>提交</button>
					            <button id="btnBack" type="button" class="btn btn-primary" title="返回" onclick="location.href='$link.getContextPath()/company/${companyId}/credentialsinfo.html'">返回</button>
					            #if(${showRecoverBtn})
					                <button id="btnRecover" type="button" class="btn btn-primary">恢复到系统默认的模板</button>
					            #end
					        </div>
					        
						 </form>
															
					</div><!-- /.table-bar -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		
            
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
			
			
<script src="$link.getContextPath()/theme/default/js/kindeditor-4.1.9/kindeditor.js"></script>
<script src="$link.getContextPath()/theme/default/js/kindeditor-4.1.9/lang/zh_CN.js"></script>
<script src="$link.getContextPath()/theme/default/js/kindeditor-4.1.9/plugins/code/prettify.js"></script>
<script src="$link.getContextPath()/js/views/contracttemplate/editYearPurchase.js"></script>
<link rel="stylesheet" href="$link.getContextPath()/theme/default/js/kindeditor-4.1.9/themes/default/default.css" />
<link rel="stylesheet" href="$link.getContextPath()/theme/default/js/kindeditor-4.1.9/plugins/code/prettify.css" />