#set($layout="layout/default.vm")
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i>系统管理</li>
        <li>系统设置</li>
        <li class="active">发票设置</li>
	</ul>
	<!-- /.breadcrumb -->

	#parse("layout/topbtn.vm")
	<!-- /.nav-search -->
</div>

<div class="page-content">

	<div class="row">
		<div class="col-xs-12">
			<!--TAPBAR-->
			#parse("sys/systemmenu.vm")
			<!-- PAGE CONTENT BEGINS -->
			<form id="checkForm">
				<div class="row">
					<div class="col-xs-12">
	
						<!--.recordbar-->						
						<div>销项发票单张上限额度:</div>
						<div class="print-finfo">
							<label><input must="1" verify="numeric" msg="必须是数值" type="text" value="$sysSetting.settingValue" class="c-text" id="settingvalue" name="settingvalue"/>&nbsp;元</label>
						</div>
						<div class="btn-bar">
							<button type="button" verify="" class="btn btn-info btn-sm" id="submit">确定</button>
						</div>					
						<!--/.recordbar-->
					</div>
				</div>
			</form>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>

<!-- /.page-content -->
<script type="text/javascript">
	$(function(){
		$("#submit").click(function(){
			if(!setlistensSave("#checkForm")){return;}
			var settingvalue=$('#settingvalue[name=settingvalue]').val();
			
			$.ajax({
				type:'POST',
				url:Context.PATH+'/sys/updatesettingvalue.html',
				data:{
					settingvalue:formatMoney(settingvalue,2)
				},
				dataType: "text",
				success:function(data){					
					cbms.alert(cbms.succ);					
				}		
			 });
		
		});
	});
</script>
