<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            财务报表
        </li>
        <li>
           	进项票记账报表
        </li>
	</ul><!-- /.breadcrumb -->

		#parse("layout/topbtn.vm")<!-- /.nav-search -->
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix">
						<div class="clearfix">
						<form id="searchForm" class="form-inline">
							<div class="pull-left">
								<label>卖家全称：</label>
								<input placeholder="卖家全称" id="seller" type="text" class="ipt-text" value="">
								<label>进项发票号：</label>
								<input placeholder="进项发票号" id="invoiceNo" type="text" class="ipt-text" value="">
								<label>时间：</label>
                                <input id="startTime" class="ipt-text" type="text" value="$startTime"
                                       onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})"/> -
                                <input id="endTime" class="ipt-text" type="text" value="$endTime"
                                       onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})"/>
                                <label>请选择确认人员：</label>
								<select id="userId_select">
								<option value= "">全部</option>
								#foreach($item in $checkUserlist)
									<option value="$item.checkUserId">$item.checkUserName</option>
								#end
								</select>
								<label>大类：</label>
								<select id="category">
								<option value= "">全部</option>
								#foreach($cell in $!categories)
									<option value="$cell.categoryGroupUuid">$cell.categoryGroupName</option>
								#end
								<option value= "isNull">空</option>
								</select>
								
                                <button id="queryBtn" class="btn btn-sm btn-default" type="button" title="搜索">
                                    <i class="aace-icon fa fa-search bigger-110"></i>搜索
                                </button>
                                <button id="exportexcel" class="btn btn-sm btn-default" type="button" title="导出excel">
                                	<i class="aace-icon fa bigger-110"></i>导出excel
                            	</button>
                            </div>
						</form>
                        </div>
					</div>

					<!-- div.dataTables_borderWrap -->
					<div>
						<table id="dynamic-table" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>开票时间</th>
									<th>进项发票号</th>
									<th>卖家全称</th>
									<th>发票金额(元)</th>
									<th>税额(元)</th>
									<th>价税合计(元)</th>
									<th>确认人员</th>
									<th>确认时间</th>
									<th>发票状态</th>
									<th>大类</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->
<script src='$link.getContextPath()/js/views/report/business/invoicekeeping.js'></script>