<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">业务报表</a>
        </li>
        <li class="active">销项票清单</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
						<div class="clearfix">
							<form id="searchForm" class="form-inline">
								#if($shiro.hasPermission("sys:field:org")=='false')
	                            <label >
					        		服务中心：<input placeholder="请选择上级服务中心" id="sorganization" type="text" class="ipt-text" readonly="" value="" onclick="showMenu();">
					        		<input type='hidden' id='sorganizationHidden' value='0'/>
								</label>
								#end
								<label>买家全称：<input id="buyer_name" class="ipt-text" type="text" value="" /></label>
								<label>交易单号：</label><input class="ipt-text" type="text" value="" id="code"/></label>
								<label>开单日期：</label>
								<input id="startTime" class="ipt-text" type="text" value="$!startTime"
                               		onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})"/> -
                        		<input id="endTime" class="ipt-text" type="text" value="$!endTime"
                               		onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})"/>
								
								<button class="btn btn-sm btn-default ok-btn" type="button" id="btn">
									<i class="aace-icon fa fa-search bigger-110"></i>搜索
								</button>
								<button id="exportexcel" class="btn btn-sm btn-default" type="button" title="导出excel">
                                	<i class="aace-icon fa bigger-110"></i>导出excel
                            	</button>
							</form>
                        </div>
                    </div>
                    <!-- div.dataTables_borderWrap -->
                    <form id="search" class="form-inline">
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                            	<th style="width:10%;">开单时间</th>
                            	<th style="width:8%;">交易单号</th>
                            	<th style="width:18%;">买家全称</th>
                                <th style="width:5%;">品名</th>
                                <th style="width:5%;">材质</th>
                                <th style="width:5%;">规格</th>
                                <th style="width:5%;">实提重量（吨）</th>
                                <th style="width:5%;">已开销项票重量（吨）</th>
                                <th style="width:5%;">未开销项票重量（吨）</th>
                                <th style="width:5%;">折让重量（吨）</th>
                                <th style="width:5%;">实提金额（元）</th>
                                <th style="width:5%;">已开销项票金额（元）</th>
                                <th style="width:5%;">未开销项票金额（元）</th>
                                <th style="width:5%;">折让买家金额（元）</th>
                                <th class="pos-rel">
                                	<a id="orderStatusBtn" href="javascript:void(0);"><i class="fa fa-caret-down"></i>状态</a>
	                            	<div id="orderStatusList" class='pos-abs none' style="z-index:10;top:15px;right:-10px;width:120px;background:#fff;border:1px solid #ccc">
	                                <ul>
	                                	<li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox"  class="ace" value="0">
	                                   			<span class="lbl">全部</span>
	                                   		</label>
	                                    </li>
	                                    <li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox"  class="ace" value="1">
	                                   			<span class="lbl">已开具</span>
	                                   		</label>
	                                    </li>
	                                    <li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox"  class="ace" value="2">
	                                   			<span class="lbl">部分开具</span>
	                                   		</label>
	                                    </li>
	                                    <li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox"  class="ace" value="3">
	                                   			<span class="lbl">未开具</span>
	                                   		</label>
	                                    </li>	
	                                    <button id="yes" class="btn btn-sm btn-default" type="button" title="确定">
		                                	<i class="aace-icon fa bigger-110"></i>确定
		                            	</button>
	                                </ul>
	                            	</div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    </form>
                    <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar text-right">  
                        <label>应收发票合计：<span class="red" id="totalWeight">$!{NumberTool.format("#0.000000",$!{orderItemsDto.notOpenWeight})}</span> 吨</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><span class="red" id="totalAmount">$!{NumberTool.toThousandth($!{orderItemsDto.notOpenAmount})}</span>元</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="orgTree" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>
<script src="$link.getContextPath()/js/views/invoice/out/checklist.js"></script>
<script src="$link.getContextPath()/js/views/report/business/ticketlist.js"></script>