<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">业务报表</a>
        </li>
        <li>
            <a href="#">报表管理</a>
        </li>
        <li>
            留存销项票报表
        </li>
    </ul>
    <!-- /.breadcrumb -->

    #parse("layout/topbtn.vm")
    <!-- /.nav-search -->
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix search-bar">
						<div class="clearfix">
						<form id="searchForm" class="form-inline input-group">
							<label>客户名称：
								<input placeholder="客户名称" id="accountId" accounttype="buyer" search='account' name="accountName" type="text" class="ipt-text" value="">
							</label>
							<label class="pos-rel" id="org_options">服务中心：
								<a id="orgSelectBtn" href="javascript:void(0);">选择服务中心</a>
	                            <div id="orgSelect" class='pos-abs none' style="z-index:10;top:15px;left:70px;width:120px;background:#fff;border:1px solid #ccc">
	                                <ul>
	                               		<li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox" id="selectAllOrg" class="ace" value="all">
	                                   			<span class="lbl">全部服务中心</span>
	                                   		</label>
	                                    </li>
	                                #foreach($org in $!orgs)
	                                    <li class="text-left" style="padding:5px;">
	                                   		<label class="pos-rel">
	                                   			<input type="checkbox"  class="ace" value="$org.id">
	                                   			<span class="lbl">$org.name</span>
	                                   		</label>
	                                    </li>
	                                #end
	                                </ul>
	                            </div>
	                        </label>
	                        <label>交易单号：
								<input placeholder="交易单号" id="orderCode" name="orderCode" type="text" class="ipt-text" value="" />
							</label>
	                        <label>清单编号：
								<input placeholder="清单编号" name="checklistId" type="text" class="ipt-text" value="" />
							</label>
	                        <label>状态：
								<select id="status-selector">
									<option value="">全部</option>
									<option value="0" selected="selected">未寄出</option>
									<option value="1">已寄出</option>
								</select>
							</label>
							<label>生成清单时间：
	                            <input id="startTime" class="Wdate" type="text" value="$!{startTime}"
	                                   onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2030-10-01\'}', minDate:'2016-01-01'})"/> -
	                            <input id="endTime" class="Wdate" type="text"  value="$!{endTime}" 
	                                   onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')||\'2016-01-01\'}',maxDate:'2030-10-01'})"/>
							</label>
							
                            <button id="queryBtn" class="btn btn-sm btn-default" type="button" title="搜索">
                                <i class="ace-icon fa fa-search bigger-110"></i>搜索
                            </button>
	                        <button type="button" class="btn btn-sm btn-default" id="export">导出到EXCEL</button>
	                        <button type="button" class="btn btn-sm btn-default" id="getNew">获取最新数据</button>
						</form>
                        </div>
					</div>

					<!-- div.dataTables_borderWrap -->
					<div style="width:100%; overflow-x: auto;">
						<div id="table-wrapper" style="width:1400px;">
							<table id="dynamic-table" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>客户名称</th>
										<th>交易单号</th>
										<th>二结账户欠款（元）</th>
										<th style="width: 70px;">买家凭证</th>
										<th style="width: 70px;">卖家凭证</th>
										<th>货物或应税劳务、服务名称</th>
										<th>规格</th>
										<th>重量（吨）</th>
										<th>价税合计（元）</th>
										<th>服务中心</th>
										<th style="width: 90px;">发票类型</th>
										<th>清单编号</th>
										<th>生成清单时间</th>
										<th>状态</th>
										<th>已寄出</th>
									</tr>
								</thead>
							</table>
						</div><!--end table-wrapper-->
					</div>
				</div>
			</div>

		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->

<input type="hidden" name="balanceSecondDebtLimit" value="$!balanceSecondDebtLimit"/>
<script src="$link.getContextPath()/js/views/account/searchaccount.js"></script>      
<script src="$link.getContextPath()/js/views/report/business/unsendinvoiceout.js"></script>      
