<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.order.persist.dao.ConsignOrderAttachmentDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.order.model.model.ConsignOrderAttachment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="consign_order_id" property="consignOrderId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="relate_id" property="relateId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
     <result column="page_number" property="pageNumber" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="INTEGER" />
    <result column="ext5" property="ext5" jdbcType="INTEGER" />
    <result column="ext6" property="ext6" jdbcType="INTEGER" />
    <result column="ext7" property="ext7" jdbcType="TIMESTAMP" />
    <result column="ext8" property="ext8" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, consign_order_id, type, file_url, relate_id, status, note,page_number, created, created_by, 
    last_updated, last_updated_by, modification_number, row_id, parent_row_id, ext1, 
    ext2, ext3, ext4, ext5, ext6, ext7, ext8
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from busi_consign_order_attachment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getAttachmentByContractId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from busi_consign_order_attachment
    where relate_id = #{contractId,jdbcType=BIGINT} and status=0
  </select>
  <select id="countByContractId" resultType="int" parameterType="java.lang.Long">
    select count(*) from busi_consign_order_attachment where relate_id= #{contractId,jdbcType=BIGINT}
    and status=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from busi_consign_order_attachment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.prcsteel.platform.order.model.model.ConsignOrderAttachment" >
    insert into busi_consign_order_attachment (id, consign_order_id, type, 
      file_url, relate_id, status, 
      note, created, created_by, 
      last_updated, last_updated_by, modification_number, 
      row_id, parent_row_id, ext1, 
      ext2, ext3, ext4, ext5, 
      ext6, ext7, ext8)
    values (#{id,jdbcType=BIGINT}, #{consignOrderId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{relateId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastUpdated,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{modificationNumber,jdbcType=INTEGER}, 
      #{rowId,jdbcType=VARCHAR}, #{parentRowId,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=INTEGER}, #{ext5,jdbcType=INTEGER}, 
      #{ext6,jdbcType=INTEGER}, #{ext7,jdbcType=TIMESTAMP}, #{ext8,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.order.model.model.ConsignOrderAttachment" useGeneratedKeys="true"  keyProperty="id">
    insert into busi_consign_order_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="consignOrderId != null" >
        consign_order_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="relateId != null" >
        relate_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
      <if test="ext5 != null" >
        ext5,
      </if>
      <if test="ext6 != null" >
        ext6,
      </if>
      <if test="ext7 != null" >
        ext7,
      </if>
      <if test="ext8 != null" >
        ext8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="consignOrderId != null" >
        #{consignOrderId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="relateId != null" >
        #{relateId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=INTEGER},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=INTEGER},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=INTEGER},
      </if>
      <if test="ext7 != null" >
        #{ext7,jdbcType=TIMESTAMP},
      </if>
      <if test="ext8 != null" >
        #{ext8,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.order.model.model.ConsignOrderAttachment" >
    update busi_consign_order_attachment
    <set >
      <if test="consignOrderId != null" >
        consign_order_id = #{consignOrderId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="relateId != null" >
        relate_id = #{relateId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="pageNumber != null" >
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
        modification_number = ifnull(modification_number,0)+1,
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=INTEGER},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5,jdbcType=INTEGER},
      </if>
      <if test="ext6 != null" >
        ext6 = #{ext6,jdbcType=INTEGER},
      </if>
      <if test="ext7 != null" >
        ext7 = #{ext7,jdbcType=TIMESTAMP},
      </if>
      <if test="ext8 != null" >
        ext8 = #{ext8,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.order.model.model.ConsignOrderAttachment" >
    update busi_consign_order_attachment
    set consign_order_id = #{consignOrderId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      relate_id = #{relateId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=INTEGER},
      ext5 = #{ext5,jdbcType=INTEGER},
      ext6 = #{ext6,jdbcType=INTEGER},
      ext7 = #{ext7,jdbcType=TIMESTAMP},
      ext8 = #{ext8,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--updated by chengui 通过订单ID查询二结后上传图片-->
  <select id="getAttachmentByOrderId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from busi_consign_order_attachment
    where consign_order_id = #{orderId,jdbcType=BIGINT} and status=0 and type = #{type,jdbcType=VARCHAR}
    <if test="contractId != null" >
      and relate_id = #{contractId,jdbcType=BIGINT}
    </if>
    <if test="orderByPageNumber != null" >
      order by page_number
    </if>
  </select>

  <!-- 根据提货单号和图片url删除放货单 -->
  <delete id="deleteByPath" parameterType="map" >
    delete from busi_consign_order_attachment
    where consign_order_id = #{dbId,jdbcType=BIGINT}
    and  type = #{type,jdbcType=VARCHAR}
    <if test="strPath != null" >
      and file_url = #{strPath,jdbcType=VARCHAR}
    </if>
  </delete>
  <!--根据提货单号和图片url查询图片-->
  <select id="selectCountByPath"  parameterType="map"  resultType="int">
    select
    count(1)
    from busi_consign_order_attachment
    where consign_order_id = #{dbId,jdbcType=BIGINT}
    and  type = #{type,jdbcType=VARCHAR}
    and status=0
    <if test="strPath != null" >
      and file_url = #{strPath,jdbcType=VARCHAR}
    </if>
  </select>

  <!--根据consignOrderId集查询凭证附件对象集-->
  <select id="selectCertAttacByConsignOrderIds" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM busi_consign_order_attachment
      WHERE type='cert' AND
      consign_order_id IN
      <foreach collection="list" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  </select>
  
   <select id="getAttachmentByConsignOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from busi_consign_order_attachment
    where consign_order_id = #{consignOrderId ,jdbcType=BIGINT} and status=0 and type='cert'
  </select>

  <!--根据凭证号id统计 -->
  <select id="totalByCredentialId"  parameterType="java.lang.Long"  resultType="int">
    select count(id) from busi_consign_order_attachment where consign_order_id = #{id,jdbcType=BIGINT} and type='cert'
  </select>
	
<delete id="delete" >
    delete from busi_consign_order_attachment
    where id in 
    <foreach collection="list" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  </delete>
  
    <select id="selectByConsignOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from busi_consign_order_attachment
    where consign_order_id = #{consignOrderId,jdbcType=BIGINT}
  </select>
	
</mapper>