<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.order.persist.dao.InvoiceOutBackDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.order.model.model.InvoiceOutBack" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="djh" property="djh" jdbcType="VARCHAR" />
    <result column="billNo" property="billno" jdbcType="VARCHAR" />
    <result column="bill_create" property="billCreate" jdbcType="TIMESTAMP" />
    <result column="useful" property="useful" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, djh, billNo, bill_create, useful, created, created_by, last_updated, last_updated_by, 
    modification_number, row_id, parent_row_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inv_invoice_out_back
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.prcsteel.platform.order.model.query.InvoiceOutBackQuery" >
    select 
    <include refid="Base_Column_List" />
    from inv_invoice_out_back
    <where>
    	<if test="id != null" >
	    	and id = #{id,jdbcType=BIGINT}
    	</if>
    	<if test="djh != null" >
	    	and djh = #{djh,jdbcType=VARCHAR}
    	</if>
    	<if test="useful != null" >
	    	and useful = #{useful,jdbcType=INTEGER}
    	</if>
    	<if test="djhs!=null">
    		and djh in 
    		<foreach item="vdjh" collection="djhs" open="(" separator="," close=")">
				#{vdjh,jdbcType=VARCHAR}
	      	</foreach>
    	</if>
    </where>
    <if test="sortBy != null" >
    	order by ${sortBy}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inv_invoice_out_back
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.prcsteel.platform.order.model.model.InvoiceOutBack" >
    insert into inv_invoice_out_back (id, djh, billNo, 
      bill_create, useful, created, 
      created_by, last_updated, last_updated_by, 
      modification_number, row_id, parent_row_id
      )
    values (#{id,jdbcType=BIGINT}, #{djh,jdbcType=VARCHAR}, #{billno,jdbcType=VARCHAR}, 
      #{billCreate,jdbcType=TIMESTAMP}, #{useful,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{modificationNumber,jdbcType=INTEGER}, #{rowId,jdbcType=VARCHAR}, #{parentRowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.order.model.model.InvoiceOutBack" >
    insert into inv_invoice_out_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="djh != null" >
        djh,
      </if>
      <if test="billno != null" >
        billNo,
      </if>
      <if test="billCreate != null" >
        bill_create,
      </if>
      <if test="useful != null" >
        useful,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="djh != null" >
        #{djh,jdbcType=VARCHAR},
      </if>
      <if test="billno != null" >
        #{billno,jdbcType=VARCHAR},
      </if>
      <if test="billCreate != null" >
        #{billCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="useful != null" >
        #{useful,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.order.model.model.InvoiceOutBack" >
    update inv_invoice_out_back
    <set >
      <if test="djh != null" >
        djh = #{djh,jdbcType=VARCHAR},
      </if>
      <if test="billno != null" >
        billNo = #{billno,jdbcType=VARCHAR},
      </if>
      <if test="billCreate != null" >
        bill_create = #{billCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="useful != null" >
        useful = #{useful,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        modification_number = #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.order.model.model.InvoiceOutBack" >
    update inv_invoice_out_back
    set djh = #{djh,jdbcType=VARCHAR},
      billNo = #{billno,jdbcType=VARCHAR},
      bill_create = #{billCreate,jdbcType=TIMESTAMP},
      useful = #{useful,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>