<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.order.persist.dao.InvoiceOutReceiptDao">

    <resultMap id="BaseResultMap" type="com.prcsteel.platform.order.model.model.InvoiceOutReceipt">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="apply_detail_id" property="applyDetailId" jdbcType="BIGINT"/>
        <result column="item_detail_id" property="itemDetailId" jdbcType="BIGINT"/>
        <result column="checklist_id" property="checklistId" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="djh" property="djh" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR"/>
        <result column="modification_number" property="modificationNumber" jdbcType="INTEGER"/>
        <result column="row_id" property="rowId" jdbcType="VARCHAR"/>
        <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR"/>
        <result column="ext1" property="ext1" jdbcType="VARCHAR"/>
        <result column="ext2" property="ext2" jdbcType="VARCHAR"/>
        <result column="ext3" property="ext3" jdbcType="VARCHAR"/>
        <result column="ext4" property="ext4" jdbcType="INTEGER"/>
        <result column="ext5" property="ext5" jdbcType="INTEGER"/>
        <result column="ext6" property="ext6" jdbcType="INTEGER"/>
        <result column="ext7" property="ext7" jdbcType="TIMESTAMP"/>
        <result column="ext8" property="ext8" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, apply_detail_id, item_detail_id, checklist_id, amount, weight, djh, created, 
    created_by, last_updated, last_updated_by, modification_number, row_id, parent_row_id, 
    ext1, ext2, ext3, ext4, ext5, ext6, ext7, ext8
  </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM inv_invoice_out_receipt
        WHERE item_detail_id = #{itemDetailId, jdbcType=BIGINT}
        AND checklist_id = #{checklistId, jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.prcsteel.platform.order.model.model.InvoiceOutReceipt">
    INSERT INTO inv_invoice_out_receipt (id, apply_detail_id, item_detail_id, checklist_id,
    amount, weight, djh, created, created_by, last_updated, last_updated_by, modification_number)
    VALUES (#{id,jdbcType=BIGINT}, #{applyDetailId,jdbcType=BIGINT}, #{itemDetailId,jdbcType=BIGINT},
      #{checklistId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
      #{djh,jdbcType=VARCHAR}, NOW(), 'sys',
      NOW(), 'sys', 0)
  </insert>
</mapper>