<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>钢为网代运营委托协议</title>

		<meta name="description" content="Static &amp; Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../theme/default/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../theme/default/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../../theme/default/css/daterangepicker.min.css" />
		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../../theme/default/fonts/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../../theme/default/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="../../css/style.css" />
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../theme/default/css/ace-part2.min.css" class="ace-main-stylesheet"/>
		<![endif]-->

		<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../theme/default/css/ace-ie.min.css"/>
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../../theme/default/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../theme/default/js/html5shiv.min.js"></script>
		<script src="../../theme/default/js/respond.min.js"></script>
		<![endif]-->


	
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try {
					ace.settings.check('navbar', 'fixed')
				} catch(e) {
				}
			</script>

			<div class="navbar-container" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand"> <small> <i class="fa fa-leaf"></i> Ace Admin </small> </a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-tasks"></i> <span class="badge badge-grey">4</span> </a>

							<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-check"></i>
									4 Tasks to complete
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar">
										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left">Software Update</span>
												<span class="pull-right">65%</span>
											</div>
											<div class="progress progress-mini">
												<div style="width:65%" class="progress-bar"></div>
											</div> </a>
										</li>

										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left">Hardware Upgrade</span>
												<span class="pull-right">35%</span>
											</div>
											<div class="progress progress-mini">
												<div style="width:35%" class="progress-bar progress-bar-danger"></div>
											</div> </a>
										</li>

										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left">Unit Testing</span>
												<span class="pull-right">15%</span>
											</div>
											<div class="progress progress-mini">
												<div style="width:15%" class="progress-bar progress-bar-warning"></div>
											</div> </a>
										</li>

										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left">Bug Fixes</span>
												<span class="pull-right">90%</span>
											</div>
											<div class="progress progress-mini progress-striped active">
												<div style="width:90%" class="progress-bar progress-bar-success"></div>
											</div> </a>
										</li>
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="#"> See tasks with details <i class="ace-icon fa fa-arrow-right"></i> </a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-bell icon-animated-bell"></i> <span class="badge badge-important">8</span> </a>

							<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-exclamation-triangle"></i>
									8 Notifications
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar navbar-pink">
										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i> New Comments </span>
												<span class="pull-right badge badge-info">+12</span>
											</div> </a>
										</li>

										<li>
											<a href="#"> <i class="btn btn-xs btn-primary fa fa-user"></i> Bob just signed up as an editor ... </a>
										</li>

										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i> New Orders </span>
												<span class="pull-right badge badge-success">+8</span>
											</div> </a>
										</li>

										<li>
											<a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i> Followers </span>
												<span class="pull-right badge badge-info">+11</span>
											</div> </a>
										</li>
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="#"> See all notifications <i class="ace-icon fa fa-arrow-right"></i> </a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-envelope icon-animated-vertical"></i> <span class="badge badge-success">5</span> </a>

							<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-envelope-o"></i>
									5 Messages
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar">
										<li>
											<a href="#" class="clearfix"> <img src="../../theme/default/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Alex:</span> Ciao sociis natoque penatibus et auctor ... </span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>a moment ago</span> </span> </span> </a>
										</li>

										<li>
											<a href="#" class="clearfix"> <img src="../../theme/default/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Susan:</span> Vestibulum id ligula porta felis euismod ... </span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>20 minutes ago</span> </span> </span> </a>
										</li>

										<li>
											<a href="#" class="clearfix"> <img src="../../theme/default/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Bob:</span> Nullam quis risus eget urna mollis ornare ... </span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>3:15 pm</span> </span> </span> </a>
										</li>

										<li>
											<a href="#" class="clearfix"> <img src="../../theme/default/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Kate:</span> Ciao sociis natoque eget urna mollis ornare ... </span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>1:33 pm</span> </span> </span> </a>
										</li>

										<li>
											<a href="#" class="clearfix"> <img src="../../theme/default/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Fred:</span> Vestibulum id penatibus et auctor  ... </span> <span class="msg-time"> <i class="ace-icon fa fa-clock-o"></i> <span>10:09 am</span> </span> </span> </a>
										</li>
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="inbox.html"> See all messages <i class="ace-icon fa fa-arrow-right"></i> </a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../../theme/default/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>Welcome,</small> Jason </span> <i class="ace-icon fa fa-caret-down"></i> </a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a>
								</li>

								<li>
									<a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.check('main-container', 'fixed')
				} catch(e) {
				}
			</script>

			<div id="sidebar" class="sidebar                  responsive">
				<script type="text/javascript">
					try {
						ace.settings.check('sidebar', 'fixed')
					} catch(e) {
					}
				</script>

				<ul class="nav nav-list">
					<li class="active">
						<a href="index.html"> <i class="menu-icon fa fa-tachometer"></i> <span class="menu-text"> 控制台 </span> </a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text"> 系统管理 </span> <b class="arrow fa fa-angle-down"></b> </a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 管理服务中心 </a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 服务中心人员 </a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 提成比例设置 </a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 返利设置 </a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 系统日志 </a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="sys/role.html"> <i class="menu-icon fa fa-caret-right"></i> 设置权限 </a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text"> 客户管理 </span> <b class="arrow fa fa-angle-down"></b> </a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="vendorlist.html"> <i class="menu-icon fa fa-caret-right"></i> 我的买家客户 </a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="vendorlist.html"> <i class="menu-icon fa fa-caret-right"></i> 我的卖家客户 </a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 划转买家用户 </a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 划转卖家客户 </a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 卖家客户分组查询 </a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text"> 订单管理 </span> <b class="arrow fa fa-angle-down"></b> </a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 配货单 </a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="sysuser-list.html"> <i class="menu-icon fa fa-caret-right"></i> 物流单 </a>

								<b class="arrow"></b>
							</li>

						</ul>
					</li>

					<li class="">
						<a href="widgets.html"> <i class="menu-icon fa fa-list-alt"></i> <span class="menu-text"> 财务中心 </span> </a>

						<b class="arrow"></b>
					</li>

				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<script type="text/javascript">
					try {
						ace.settings.check('sidebar', 'collapsed')
					} catch(e) {
					}
				</script>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try {
								ace.settings.check('breadcrumbs', 'fixed')
							} catch(e) {
							}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">订单管理</a>
							</li>

							<li class="active">
								打印销售合同
							</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="page-content print-page">
						<div class="row">
							<div class="col-xs-12">

								<!-- PAGE CONTENT BEGINS -->
								<!-- table-bar-->
								<div id="pdfarea">
								<div id="print1" class="table-bar tab-pane in active">
									<h1 class="bolder text-center clearfix"><span class="logo-bar print-logo pull-left"><img src="../../img/print-logo.png" /></span><span style="margin-right:100px">钢为网代运营委托协议</span></h1>
<!-- 									<table class="contable print-table border0 mg-t-35">
										<tbody class="border0">
											<tr>
												<td colspan="10">甲方：<em class="line-under">　　　　　　　　　　　　</em></td>
												<td colspan="5">合同编号：</td>
											</tr>
											<tr>
												<td colspan="10">乙方：杭州钢为网络科技有限公司</td>
												<td colspan="5">签订时间：　　　年　　　月　　　日</td>
											</tr>
											<tr>
												<td colspan="10" class="lh-25">鉴于乙方拥有国内领先的电子商务平台钢为网(www.prcsteel.com)，甲方销售的钢材产品在国内具有较高的知名度，双方本着“平等互利、友好协商”的原则，就甲方委托乙方在乙方电商平台对甲方的产品进行代运营达成以下协议：</td>
											</tr>										
										</tbody>
									</table> -->										
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">一、合作内容：</li>
											<li class="print-indent lh-25">1.	甲方委托乙方进行代运营，乙方有权通过乙方拥有的电子商务平台推销甲方销售的符合国家标准的钢材产品。</li>
											<li class="print-indent lh-25">2.	甲方负责组织与提供货源，且保证为真实可售的现货资源。</li> 
											<li class="print-indent lh-25">3.  数量：乙方每月为甲方完成代运营交易量不低于<em class="line-under">　　　　　</em>吨。</li>
											<li class="print-indent lh-25">4.  代运营服务费用：根据乙方促成的实际交易吨数，钢为网平台服务费用标准支付服务费用（费用标准见《钢为网代运营咨询服务合同》）。</li>
											
										</ul>
									</div>	
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">二、报价及供货：</li>
											<li class="print-indent lh-25">甲方根据市场行情将销售价格提供给乙方，且必须拥有真实可售的现货资源。</li>
										</ul>
									</div>	
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">三、货款支付</li>
											<li class="print-indent lh-25"> 1.乙方根据实际销售情况向甲方发送订单并支付全款，甲方确认乙方订单与货款后即锁货。</li>
										</ul>
									</div>	
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">四、货物质量问题、迟延交货等</li>
											<li class="print-indent lh-25"> 1. 因甲方提供的货物存在质量问题、甲方迟延交货（乙方或客户违约、不可抗力等造成的情形除外）、以及其他归属于甲方的原因，由甲方负责处理及赔偿。如因此导致乙方被客户追究任何法律责任的，乙方有权要求甲方承担相应责任。</li>
											<li class="print-indent lh-25"> 2. 不可抗力。遭受不可抗力的一方，应在三日内通知对方并提供事件详情以及有效证明文件，根据事件对履行合同的影响程度，由甲乙双方协商决定是否解除协议、部分免除履行的责任或延期履行。
</li>
										</ul>
									</div>
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">五、发票</li>
											<li class="print-indent lh-25"> 1. 甲方每月25日前（如遇双休日，则提前至当月25日前最近的周五）必须将已经结算完成的与实提结算单（或出库单）完全一致的（包括相应的品规、单价、重量）增值税发票开具给乙方。甲方给乙方开具发票后，如因甲方原因发票被注销或者开票有误，乙方需退回重开的应及时通知甲方，甲方在当月最后一天前提供给乙方正确发票完成认证，否则由甲方承担全部税费。</li>
											
										</ul>
									</div>
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">六、相关事项</li>
											<li class="print-indent lh-25"> 1．为确保交易安全顺利进行，在签订本合同时甲方需向乙方提供以下材料：营业执照、税务登记证、组织机构代码证、法人身份证复印件、公司打款资料（包括开户名称、开户账号、开户行号等）、货物所在仓库信息，以上文件需加盖公章。</li>
											
										</ul>
									</div>
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">七、合同用章声明：</li>
											<li class="print-indent lh-25"> 鉴于甲乙双方在业务上将会有较为频繁的业务合作，为更高效、合规地完成双方的不时签订的代运营业务合同（包括采购合同、销售合同、订货确认函等），甲方特此确认后续业务合同用印的有效性：甲方授权且认可以下预留印鉴为经其认可的有效印鉴，（具体以如下预留印鉴为准），后续业务合同加盖如下预留印鉴的，即代表甲方公司的业务行为。</li>
										</ul>
									</div>
									<div class="stamp clearfix">
										<ul>
											<li><p class="b-style-dashed b-clo-bcbcbc stamp-area"></p><p>印鉴预留样本</p></li>
											<li><p class="b-style-dashed b-clo-bcbcbc stamp-area"></p><p>印鉴预留样本</p></li>
											<li><p class="b-style-dashed b-clo-bcbcbc stamp-area"></p><p>印鉴预留样本</p></li>
										</ul>
									</div>
									<div class="pd-t-10">
										<ul>
											<li class="font-style-b pd-t-5 pd-b-5">八、其他</li>
											<li class="print-indent lh-25">1．双方合作期限自本协议生效之日起至2016年12月31日止。协议期满时，如双方均无书面要求终止协议，本协议则自动续期一年。</li>
											<li class="print-indent lh-25">2．本协议经双方签字盖章之日起生效。本协议未尽事宜，双方另行协商。为履行本协议，双方（或与第三方）将另行签订相关专项合同，具体事项以各专项合同为准。</li>
											<li class="print-indent lh-25">3. 本协议在履行过程中发生争议时，双方应协商解决；协商不成的，向有管辖权提请诉讼，因诉讼发生的一切费用，包括但不限于法院受理费、保全费、律师费、鉴定费等由败诉方承担。</li>
											<li class="print-indent lh-25">4．本协议壹式两份，双方各执一份，每份均具有同等法律效力。</li>
										</ul>
									</div>
									<div class="print-indent lh-25 italic pd-t-10 pd-b-10">以下无正文</div>
									<div class="italic pd-t-10 pd-b-10">签字页</div>
<!-- 									<table class="contable print-table border0">
										<tbody>
											<tr>
												<td width="90">甲方：</td><td colspan="5" width="200"></td><td width="90">乙方：</td><td colspan="3" width="200">杭州钢为网络科技有限公司</td>
											</tr>

											<tr>
												<td>法定代表人<br>(授权代表)：</td><td colspan="5"></td><td>法定代表人<br>(授权代表)：</td><td colspan="3"></td>
											</tr>
											<tr>
												<td>日期：</td><td colspan="5"></td>
												<td>日期：</td><td colspan="3"></td>
											</tr>
										</tbody>
									</table> -->									
								</div></div><!-- /.table-bar -->
							</div><!-- /.col -->
						</div><!-- /.row -->
						<div class="btn-bar text-center">
                            <button id="prints" class="btn btn-info"><i class="fa fa-print"></i>打印合同</button>
                            <button id="cmd" class="btn btn-info">导出PDF</button>
                            <button id="btnBack" class="btn btn-primary" title="返回">返&nbsp;&nbsp;回</button>
            			</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120"> <span class="blue bolder">Ace</span> Application &copy; 2013-2014 </span>

						&nbsp; &nbsp;
						<span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../../theme/default/js/jquery.2.1.1.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="../../theme/default/js/jquery.1.11.1.min.js"></script>
		<![endif]-->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../theme/default/js/jquery.min.js'>" + "<" + "/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript" src="../../theme/default/js/html2canvas.min.js"></script>
    <script type="text/javascript" src="../../theme/default/js/pdfmake.min.js"></script>

    <script>
        $(function () {
            $('#cmd').click(function () {
            	// $("div").css("font-size","14px");
				html2canvas($('#pdfarea'), {
					onrendered: function (canvas) {
						var data = canvas.toDataURL();
						var docDefinition = {
							content: [{
								image: data,
								width: 500,
							}]
						};
						pdfMake.createPdf(docDefinition).download("钢为网代运营委托协议.pdf");
					}
				});
            });
        });
    </script>
		<script type="text/javascript">
			if ('ontouchstart' in document.documentElement)
				document.write("<script src='../../theme/default/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
		</script>
		<script src="../../theme/default/js/bootstrap.min.js"></script>
		<script src="../../theme/default/js/jquery.print.js"></script>
		<script type="application/javascript">
    	$(document).ready(function() {
	        $(document).on("click", "#prints", function() {
	            $('#print1').print();
	        });

	        $(document).on("click", "#btnBack", function() {
	            window.history.go(-1);
	        });
    	});

		</script>
		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<!-- inline scripts related to this page -->
		<!-- <script type="text/javascript" src="../../js/global.js"></script>-->

	</body>
</html>
