<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            	交易管理
        </li>
        <li class="active">新开交易单</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<!--开单来源-->
<input type="hidden" name="origin" value="$!origin"/>

<input type="hidden" id="smartmatchDomain" value="$!smartmatchDomain"/>
<div class="page-content">
    <form id="createForm">
        <!--买家信息-->
        <div class="row">
            <label>交易员：
                #if(${consignOrder.id} || ${quotationId})
                    <input type="hidden" id="owner" value="$!{consignOrder.ownerName}"
                           userid="$!{consignOrder.ownerId}"/>
                #end
                #if(${userSize}=="0")
                    <input type="text" id="user" value="$!{user.name}" userid="$!{user.id}"
                           must="1" readonly="readonly" class="c-text"/>
                #else
                    <input type="hidden" id="user" value="" userid="">
                    <select id="userList">
                        #foreach($item in ${userList})
                            <option value="$!{item.id}" #if($!{item.id} == $!{consignOrder.ownerId}) selected = "selected"#end>$!{item.name}</option>
                        #end
                    </select>
                #end
            </label>
            <label>买家全称：
                <input type="text" id="buyer" value="$!{consignOrder.accountName}"
                       accountid="$!{consignOrder.accountId}"
                       must="1" dropdown="dropdown"/>
            </label>
            <label>部门：
                <select id="department">
                	#if($buyerDepartment  && $!{buyerDepartment.size()} == 0)
                		<option value=''>钢材部</option>
                	#end
                    
                    #foreach($item in ${buyerDepartment})
                        <option value="$!{item.id}" #if($!{consignOrder.departmentId}==$!{item.id}) selected="selected"
                        #end>$!{item.name}</option>
                    #end
                </select>
            </label>
            <label>联系人：
                <input type="text" id="contact" value="$!{consignOrder.contactName}"
                       contactid="$!{consignOrder.contactId}"
                       must="1" class="c-text" dropdown="dropdown"/>
            </label>
            <label>联系电话：
                <input type="text"   #if($!origin == 'SMART_MATCH') readonly="readonly" #end  id="contactTel" value="$!{consignOrder.contactTel}" must="1" verify="mobile" maxlength="11" />
            </label>
            #if($!{contactMsg})
                <label id="contactMsg" class="red">&nbsp;&nbsp;提示：$!{contactMsg}</label>
            #end
            <label>支付方式：
                <select id="paymentSort">
                    #foreach($item in ${BasicSettings})
                        <option value="$!{item.displayName}" #if($!{item.displayName} == "电汇") selected
                        #end >$!{item.displayName}</option>
                    #end
                </select>
            </label>
        </div>
        <!--给卖家付款-->
        <div class="row">
            给卖家付款：
            <label><input type="radio" name="paymentType" value="0" checked onclick="clickPaymentType();"/>
            当日内现款全额支付</label>
            <label>
                <input type="radio" name="paymentType" value="1" onclick="clickPaymentType();"/> 提货
                <input type="text" id="delayNum" name="delayNum" disabled maxlength="3" must="1"  verify="number"class="sd-text" size="3"/>日内现款全额支付
            </label>
        </div>
        <!--资源table-->
        <div class="row table-bar">
            <table id="table_resource"
                   class="table table-striped table-bordered table-hover col-md-12 col-sm-12 col-lg-12">
                <thead>
                <th>序号</th>
                <th>卖家全称</th>
                <th>部门</th>
                <th>联系人</th>
                <th>品名</th>
                <th>材质</th>
                <th>规格</th>
                <th>厂家</th>
                <th>城市</th>
                <th>仓库</th>
                <th>数量</th>
                <th>重量(吨)</th>
                <th>计重方式</th>
                <th>销售价（元/吨）</th>
                <th>采购价（元/吨）</th>
                <th>销售金额（元）</th>
                <th>采购金额（元）</th>
                #if(${isShowAcceptDraft})
                    <th>银票支付</th>
                #end
                <th>捆包号</th>
                <th>操作</th>
                </thead>
                <tbody>
                    #if(${list})
                        #foreach($item in ${list})
                        <tr>
                            <td>$!{velocityCount}</td>
                            <td><input type="text" name="sellerName" maxlength="50" must="1"
                                       search="account" accounttype="seller" cardinfostatus="Approved" value="$!{item.sellerName}"
                                       accountid="$!{item.sellerId}" consigntype="$!{consignOrder.consignType}"
                                       class="c-text #if($!{consignOrder.id}) #if($!{consignOrder.consignType} != 'consign')temp-lin#end
                                       #else #if($!{item.consignType} != 'consign')temp-lin#end#end"/>
                            </td>
                            <td>
                                <select name="department" must="1">
                                    #foreach($department in ${item.departments})
                                        <option value="$!{department.id}" #if($!{item.departmentId}==$!{department.id}) selected="selected"
                                        #end>$!{department.name}</option>
                                    #end
                                </select>
                            </td>
                            <td>
                                <select name="contact" must="1">
                                    #foreach($department in ${item.departments})
                                        #if($!{item.departmentId}==$!{department.id})
                                            #foreach($contact in ${department.contacts})
                                                <option value="$!{contact.id}" #if($!{item.contactId}==$!{contact.id}) selected="selected"
                                                #end>$!{contact.name}</option>
                                            #end
                                         #end
                                    #end
                                </select>
                            </td>
                            <td><input type="text" name="nsortName" maxlength="20" must="1" search='nsort'
                                       readonly="readonly"
                                       value="$!{item.nsortName}"
                                       class="d-text"/>
                            </td>
                            <td><input type="text" name="material" maxlength="20" must="1" class="d-text"
                                       value="$!{item.material}"/></td>
                            <td><input type="text" name="spec" maxlength="30" must="1" class="d-text"
                                       value="$!{item.spec}"/></td>
                            <td><input type="text" name="factory" maxlength="20" must="1" class="d-text"
                                       value="$!{item.factory}"/></td>
                            <td>
                                <select name="province" class="d-text"></select>
                                <select name="city" class="d-text" city="$!{item.city}"></select>
                            </td>
                            <td><input type="text" name="warehouse" value="$!{item.warehouse}" maxlength="20" must="1"
                                       class="d-text"/></td>
                            <td><input type="text" name="quantity" value="$!{item.quantity}" maxlength="20" must="1"
                                       verify="number"
                                       class="sd-text"/>
                            </td>
                            <td><input type="text" name="weight"
                                       value="$!{NumberTool.format("#0.000000",$!{item.weight})}" must="1"
                                       verify="numeric"
                                       class="d-text"/>
                            </td>
                            <td>
                                <select name="weightConcept" val="$!{item.weightConcept}">
                                    <option value="理计">理计</option>
                                    <option value="磅计">磅计</option>
                                    <option value="抄码">抄码</option>
                                </select>
                            </td>
                            <td><input type="text" name="dealPrice"
                                       value="$!{NumberTool.format("#0.00",$!{item.dealPrice})}" must="1"
                                       verify="numeric"
                                       class="d-text"/>
                            </td>
                            <td><input type="text" name="costPrice"
                                       value="$!{NumberTool.format("#0.00",$!{item.costPrice})}" must="1"
                                       verify="numeric"
                                       class="d-text"/>
                            </td>
                            <td><input type="hidden" name="amount" value="$!{item.amount}"><span
                                    name="amounttext">$!{NumberTool.toThousandth($!{item.amount})}</span>
                            </td>
                            <td>
                                #set($costAmount=${item.costPrice} * ${item.weight})
                                <input type="hidden" name="costamount" value="$!{costAmount}">
                                <span name="costamounttext">$!{NumberTool.toThousandth($!{costAmount})}</span>
                            </td>
                            #if(${isShowAcceptDraft})
                                <td>
                                    <select name="isPayedByAcceptDraft">
                                        <option value="0" selected="selected">无</option>
                                        <option value="-1">银票支付</option>
                                    </select>
                                </td>
                            #end
                            <td><input type="text" name="strappingNum"  class="d-text" /></td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a href="javascript:" copy="copy" title="复制"><i class="ace-icon fa fa-copy bigger-130 blue"></i></a>
                                    <a href='javascript:' delete='delete' title="删除"><i class="ace-icon fa fa-trash-o bigger-130 red"></i></a>
                                </div>
                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                                data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button>
                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="javascript:" copy="copy" title="复制"><i class="ace-icon fa fa-copy bigger-130 blue"></i></a>
                                            </li>
                                            <li>
                                                <a href='javascript:' delete='delete' title="删除"><i class="ace-icon fa fa-trash-o bigger-130 red"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        #end
                    #else
                    <tr>
                        <td>1</td>
                        <td><input type="text" name="sellerName" accountid="0" maxlength="50" must="1" search="account"
                                   accounttype="seller" cardinfostatus="Approved"
                                   class="c-text"/>
                        </td>
                        <td><select name="department" val="$!{item.departmentName}" must="1"></select></td>
                        <td><select name="contact" val="$!{item.contactName}" must="1"></select></td>
                        <td><input type="text" name="nsortName" maxlength="20" must="1" search='nsort'
                                   readonly="readonly" class="d-text"/>
                        </td>
                        <td><input type="text" name="material" maxlength="20" must="1" class="d-text"/></td>
                        <td><input type="text" name="spec" maxlength="30" must="1" class="d-text"/></td>
                        <td><input type="text" name="factory" maxlength="20" must="1" class="d-text"/></td>
                        <td>
                            <select name="province" class="d-text"></select>
                            <select name="city" class="d-text"></select>
                        </td>
                        <td><input type="text" name="warehouse" maxlength="20" must="1" class="d-text"/></td>
                        <td><input type="text" name="quantity" maxlength="20" must="1" verify="number" class="sd-text"/>
                        </td>
                        <td><input type="text" name="weight" must="1" verify="numeric" class="d-text"/>
                        </td>
                        <td>
                            <select name="weightConcept">
                                <option value="理计">理计</option>
                                <option value="磅计">磅计</option>
                                <option value="抄码">抄码</option>
                            </select>
                        </td>
                        <td><input type="text" name="dealPrice" must="1" verify="numeric"
                                   class="d-text"/>
                        </td>
                        <td><input type="text" name="costPrice" must="1" verify="numeric"
                                   class="d-text"/>
                        </td>
                        <td><input type="hidden" name="amount"><span name="amounttext"></span></td>
                        <td>
                            <input type="hidden" name="costamount">
                            <span name="costamounttext"></span>
                        </td>
                        #if(${isShowAcceptDraft})
                            <td>
                                <select name="isPayedByAcceptDraft">
                                    <option value="0" selected="selected">无</option>
                                    <option value="-1">银票支付</option>
                                </select>
                            </td>
                        #end
                        <td><input type="text" name="strappingNum" class="d-text" /></td>
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a href="javascript:" copy="copy" title="复制"><i class="ace-icon fa fa-copy bigger-130 blue"></i></a>
                                <a href='javascript:' delete='delete' title="删除"><i class="ace-icon fa fa-trash-o bigger-130 red"></i></a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                            data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="javascript:" copy="copy" title="复制"><i class="ace-icon fa fa-copy bigger-130 blue"></i></a>
                                        </li>
                                        <li>
                                            <a href='javascript:' delete='delete' title="删除"><i class="ace-icon fa fa-trash-o bigger-130 red"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>

            <!--资源统计信息-->
            <div class="row col-sm-12 clearfix">
                <div class="pull-left">
                    <button type="button" id="manualAdd" class="btn btn-info btn-sm">+手动添加</button>
                    &nbsp;
                    <button type="button" id="searchAdd" class="btn btn-info btn-sm">+搜索添加</button>
                </div>
                <div class="pull-right">
                    <label>总数量：</label><span id="totalQuantity">$!{consignOrder.totalQuantity}</span>
                    <label>总重量：</label><span id="totalWeight">$!{NumberTool.format(
                    "#0.000000",$!{consignOrder.totalWeight})}</span> 吨
                    #set($resourceAmount=$consignOrder.totalAmount - $consignOrder.shipFee)
                    <label>总金额：</label><span
                        id="totalResourceAmount">$!{NumberTool.toThousandth(${resourceAmount})}</span> 元
                </div>
            </div>
        </div>


                <div class="settlement-info bg-yellow-style row none" id="new_order_hint">
                    <div class="clearfix">
                <span class="bolder red" ></span>
                    </div>
                </div>


        <!--交（提）货信息-->
        <div class="bot-info row">
            <span class="h5Tit bolder">交（提）货信息：</span><br/>
            <label>交货方式：
                <select id="deliveryType" val="$!{consignOrder.deliveryType}">
                    <option value="SELFPICK">自提</option>
                    <option value="DISPATCH">配送</option>
                </select>
            </label>

            <label>交货地址：
            #if(${transArea})
                <input id="transArea" type="text" value="$!{transArea}" style="width:85px;" readonly="true"/></label>
            #else
                <input id="transArea" type="text" value="货物所在仓库" style="width:85px;"/></label>
            #end

            <label>交货时间：
                <input id="endTime" type="text" readonly="readonly" style="width: 85px !important;"
                       value="$!date.format('yyyy-MM-dd',$!{consignOrder.deliveryEndDate})"
                       onFocus="WdatePicker({minDate:'2015-01-01',maxDate:'2020-10-01'}) "/>
            </label>
            <label>运费：由
                <select id="feeTaker" val="$!{consignOrder.feeTaker}">
                    <option value="buyer">买家</option>
                    <option value="seller">卖家</option>
                </select>
                承担
                <input type="text" id="shipFee" value="0" must="1" verify="number" class="sd-text" readonly="readonly"/>
                元</label>
            <label>出库费：由
                <select id="outboundTaker" val="$!{consignOrder.outboundTaker}">
                    <option value="buyer">买家</option>
                    <option value="seller">卖家</option>
                </select>
                承担
                <input type="text" id="outboundFee" value="0" must="1" verify="number" class="sd-text" readonly="readonly"/>
                元</label>
            <label>合同签订地：
                <input type="text" id="contractAddress" must="1" class="c-text" value="$!{consignOrder.contractAddress}"/>
            </label>
        </div>

        <!--提交审核信息-->
        <div class="bot-info row clearfix">
            <div class="pull-left">
                <span id="balanceSettle" style="display:none;">二次结算未收款总金额（元）：<em id="notSettleAmount"
                                                                                 class="red">0.00</em></span>

                <input type="hidden" id="totalAmount" value="$!{consignOrder.totalAmount}">
            </div>
            <input type="hidden" id="orderId" value="$!{consignOrder.id}">
            <input type="hidden" id="requirementCode" value="$!{requirementCode}">

            <!-- 智能找货 报价单开单数据 -->
            <input type="hidden" id="quotationIds" value="$!{quotationIds}">
            <input type="hidden" id="quotationOrderId" value="$!{quotationOrderId}">

            <button type="button" id="submit" class="ok-btn btn btn-info pull-right">提交审核</button>
        </div>
    </form>
</div>
<input type="hidden" id="isShowAcceptDraft" value="$!{isShowAcceptDraft}">
<input type="hidden" id="acceptAccountId" value="$!{consignOrder.accountId}">
<script type="application/javascript">
    var CreateOrderPage = new function (){
        this.purchaseOrderId = "$!{purchaseOrderId}";
    }
</script><script src="$link.getContextPath()/theme/default/js/artdialog.min.js"></script>
<script src="$link.getContextPath()/js/views/common/regionallinkage.js"></script>
<script src="$link.getContextPath()/js/views/order/ordersearchaccount.js"></script>
<script src="$link.getContextPath()/js/views/order/searchnsort.js"></script>
<script src="$link.getContextPath()/js/views/order/create.js"></script>
#if($orderid)
<script type="application/javascript">
    reload();
    //获取买家银票
    var acceptAccountId = $("#acceptAccountId").val();
    getAcceptDraft(acceptAccountId);

    // 修改State
    var stateObj = { foo: "bar" };
    history.pushState(stateObj, "新开交易单", Context.PATH + "/order/$!{orderid}/modify.html#expired");

    function reload(){
        var suffix = "#expired",
            url = window.location.href;

        if(url.indexOf(suffix) > 0 ){
            url = url.replace(suffix, "");
            window.location.href = url;
        }
    }
</script>
#end
<script type="application/javascript">
    //给卖家付款选择支付方式
    function clickPaymentType(){
        var secType = $('input:radio[name="paymentType"]:checked').val();
        if(secType == "0"){
            $('#delayNum').attr('disabled',true);
            $('#delayNum').val("");
        }else{
            $('#delayNum').attr('disabled',false);
        }
    }

</script>
