#set($account=$accountdto.account)
#set($accountExt=$accountdto.accountExt)
#set($attachmentList=$accountdto.attachments)
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    客户管理
                </li>
                <li>
                    <i class="ace-icon"></i>
                    <a href="$link.getContextPath()/company/list.html">我的客户</a>
                </li>
                <li>
                    <i class="ace-icon"></i>
                    <a href="$link.getContextPath()/accountinfo/$!{account.id}/accountinfo.html">$!{account.name}</a>
                </li>
                <li class="active">企业基本信息
                </li>
            </ul>
            <!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            #parse("baseinfo.vm")

            <div class="customer">
                <form action="$link.getContextPath()/company/savecredentials.html" method="POST"
                      enctype="multipart/form-data" id="saveForm">
                    <div id="step2">
                        #if($isBuyer)
                        <div class="topbottom10">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="xot">买家年度采购协议：</span>
                                    <label id="purchaseStatus">$!{purchaseStatus}</label>
                                    <div id="purchaseAgreementImg">
                                        #if($attachmentList.purchase_agreement)
                                            #foreach($item in $attachmentList.purchase_agreement)
                                                <a rel="lightbox">
                                                    <img class="imgbigger imgo"
                                                         src="$link.getContextPath()/common/getfile.html?key=$item.url">
                                                </a>
                                            #end
                                        #end
                                    </div>
                                    <a id="buyerEdit" href="$link.getContextPath()/agreementTemplate/edityearpurchase.html?accountId=$!{account.id}">&nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></a>
                                    <a id="buyerPrint" href="$link.getContextPath()/agreementTemplate/toprintyearpurchase.html?accountId=$!{account.id}">&nbsp;|&nbsp;&nbsp;<i class="fa fa-print fa-lg"></i></a>
                                    <a id="buyerUpload" href="javascript:" url="">&nbsp;&nbsp;<i class="fa fa-arrow-up fa-lg"></i></a>
                                </div>
                                <div class="col-md-8">
                                    <label>
                                        #if(${accountExt.annualPurchaseAgreementStatus} == "Declined" || ${accountExt.annualPurchaseAgreementStatus} == "FirstDeclined"
                                        || ${accountExt.annualPurchaseAgreementStatus} == "SecondDeclined")
                                            <span>审核意见：</span>
                                            <span class="view red">$!{accountExt.annualPurchaseAgreementDeclineReason}</span>
                                        #end
                                    </label>
                                </div>
                            </div>
                        </div>
                        #end
                        #if($isSeller)
                            <div class="topbottom10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="xot">卖家代运营协议：</span>
                                        <label id="consignContractStatus">$!{consignStatus}</label>
                                        <a id="sellerStop" href="javascript:" status="Terminate"><i class="fa fa-ban fa-lg"></i></a>
                                        <div id="consignContractImg">
                                            #if($attachmentList.consign_contract)
                                                #foreach($item in $attachmentList.consign_contract)
                                                    <a rel="lightbox">
                                                        <img class="imgbigger imgo"
                                                             src="$link.getContextPath()/common/getfile.html?key=$item.url">
                                                    </a>
                                                #end
                                            #end
                                        </div>
                                        <a id="sellerEdit" href="$link.getContextPath()/agreementTemplate/editconsign.html?accountId=$!{account.id}">&nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></a>
                                        <a id="sellerPrint" href="$link.getContextPath()/agreementTemplate/printconsignpage.html?accountId=$!{account.id}">&nbsp;|&nbsp;&nbsp;<i class="fa fa-print fa-lg"></i></a>
                                        <a id="sellerUpload" href="javascript:" url="">&nbsp;&nbsp;<i class="fa fa-arrow-up fa-lg"></i></a>
                                        <a id="sellerReOpen" href="javascript:" status="Approved">&nbsp;&nbsp;<i class="fa fa-lock fa-lg"></i></a>
                                    </div>
                                    <div class="col-md-8">
                                        <label>
                                            #if(${accountExt.sellerConsignAgreementStatus} == "Declined" || ${accountExt.sellerConsignAgreementStatus} == "FirstDeclined"
                                            || ${accountExt.sellerConsignAgreementStatus} == "SecondDeclined")
                                                <span>审核意见：</span>
                                                <span class="view red">$!{accountExt.sellerConsignAgreementDeclineReason}</span>
                                            #end
                                        </label>
                                    </div>
                                </div>
                            </div>
                        #end
                        <div class="tableFour">
                            <h1>证件资料<span>（带 * 号为必填）</span>
                                <label><input name="cardRadio" type="radio" value="threeCard"
                                              checked="checked">三证</label>
                                <label><input name="cardRadio" type="radio" value="fiveCard">五证合一</label>
                            </h1>

                            <div id="cardInfo">
                                <div id="threeCard">
                                    <div class="row row-marginbottom">
                                        <div class="col-md-6">
                                            <span class="xo edo"><label>*</label>营业执照注册号：</span>
                                            <span class="view">$!{accountExt.licenseCode}</span>
                                            <input id="licenseCode" type="text" value="$!{accountExt.licenseCode}" class="l-text input" placeholder="营业执照注册号"/>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="xo edo"><label>*</label>组织机构代码：</span>
                                            <span class="view">$!{accountExt.orgCode}</span>
                                            <input id="orgCode" type="text" value="$!{accountExt.orgCode}"  class="l-text input" placeholder="组织机构代码"/>
                                        </div>
                                    </div>
                                    <div class="row row-marginbottom">
                                        <div class="col-md-6">
                                            <div class="row-marginbottom">
                                                <span class="xo edo"><label>*</label>企业注册地址：</span>
                                                <span class="view">$!{accountExt.regAddress}</span>
                                                <input id="regAddress" type="text" value="$!{accountExt.regAddress}"  class="l-text input" placeholder="企业注册地址"/>
                                            </div>
                                            <div>
                                                <div class="pull-left">
                                                    <span class="xo edo"><label>*</label>营业执照：</span>
                                                </div>
                                                <a rel="lightbox" style="display:#if($!{attachmentList.license.url}) block #else none #end;">
                                                    <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.license.url}"/>
                                                </a>
                                                <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                     onclick="getElementById('picLicense').click()" alt="点击添加图片"
                                                     title="点击添加图片"/>
                                                <input id="picLicense" type="file" upload="file" pictype="license" oldurl="$!{attachmentList.license.url}"/>

                                                <p class="po input" onclick="getElementById('picLicense').click()"><span
                                                        class="may"><label>选择文件</label></span></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-left">
                                                <span class="xo edo"><label>*</label>组织机构代码证：</span>
                                            </div>
                                            <div class=" pull-left">
                                                <a rel="lightbox" style="display:#if($!{attachmentList.org_code.url}) block #else none #end;">
                                                    <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.org_code.url}"/></a>
                                                <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                     onclick="getElementById('picOrgCode').click()" alt="点击添加图片"
                                                     title="点击添加图片"/>
                                                <input id="picOrgCode" type="file" upload="file" pictype="org_code" oldurl="$!{attachmentList.org_code.url}"/>

                                                <p class="po input" onclick="getElementById('picOrgCode').click()"><span
                                                        class="may"><label>选择文件</label></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-marginbottom borderbottom">
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <span class="xo edo"><label>*</label>税务登记本(副本)：</span>
                                            </div>
                                            <div class=" pull-left">
                                                <a rel="lightbox" style="display:#if($!{attachmentList.tax_reg.url}) block #else none #end;">
                                                    <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.tax_reg.url}"/></a>
                                                <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                     onclick="getElementById('picTaxReg').click()" alt="点击添加图片"
                                                     title="点击添加图片"/>
                                                <input id="picTaxReg" type="file" upload="file" pictype="tax_reg" oldurl="$!{attachmentList.tax_reg.url}"/>

                                                <p class="po input" onclick="getElementById('picTaxReg').click()"><span
                                                        class="may"><label>选择文件</label></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    #if(${accountExt.cardInfoStatus} == "Declined")
                                        <div class="row row-marginbottom">
                                            <div class="col-md-6">
                                                <span class="xo edo">审核意见：</span>
                                                <span class="view red"><label>${accountExt.cardInfoStatusDeclineReason}</label></span>
                                            </div>
                                        </div>
                                    #end
                                </div>
                                <div id="fiveCard" style="display: none;">
                                    <div class="row row-marginbottom borderbottom">
                                        <div class="col-md-6">
                                            <div class="row-marginbottom">
                                                <span class="xo edo"><label>*</label>统一社会信用代码号：</span>
                                                <span class="view">$!{accountExt.creditCode}</span>
                                                <input id="creditCode" type="text" class="l-text input"
                                                value="$!{accountExt.creditCode}" placeholder="统一社会信用代码号"/>
                                            </div>
                                            <div>
                                                <div class="pull-left">
                                                    <span class="xo edo"><label>*</label>统一社会信用代码：</span>
                                                </div>
                                                <a rel="lightbox" style="display:#if($!{attachmentList.credit_code.url}) block #else none #end;">
                                                    <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.credit_code.url}"/></a>
                                                <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                     onclick="getElementById('picCreditCode').click()" alt="点击添加图片"
                                                     title="点击添加图片"/>
                                                <input id="picCreditCode" type="file" upload="file" oldurl="$!{attachmentList.credit_code.url}"
                                                       pictype="credit_code"/>

                                                <p class="po input" onclick="getElementById('picCreditCode').click()"><span
                                                        class="may"><label>选择文件</label></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    #if(${accountExt.cardInfoStatus} == "Declined")
                                        <div class="row row-marginbottom">
                                            <div class="col-md-6">
                                                <span class="xo edo">审核意见：</span>
                                                <span class="view red"><label>${accountExt.cardInfoStatusDeclineReason}</label></span>
                                            </div>
                                        </div>
                                    #end
                                </div>
                            </div>
                        </div>

                        <div class="tableFive">
                            <h1>代运营资料<span></span></h1>

                            <div id="cbmsInfo">
                                <div class="row row-marginbottom">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">银行开户许可证：</span>
                                        </div>
                                        <div class=" pull-left">
                                            <a rel="lightbox" style="display:#if($!{attachmentList.open_account_license.url}) block #else none #end;">
                                                <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.open_account_license.url}"/></a>
                                            <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                 onclick="getElementById('picOpenAccountLicense').click()" alt="点击添加图片"
                                                 title="点击添加图片"/>
                                            <input id="picOpenAccountLicense" type="file" upload="file"
                                                   pictype="open_account_license"/>

                                            <p class="po input"
                                               onclick="getElementById('picOpenAccountLicense').click()"><span
                                                    class="may"><label>选择文件</label></span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">法人身份证：</span>
                                        </div>
                                        <div class=" pull-left">
                                            <a rel="lightbox" style="display:#if($!{attachmentList.legal_ID.url}) block #else none #end;">
                                                <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.legal_ID.url}"/></a>
                                            <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                 onclick="getElementById('picLegalID').click()" alt="点击添加图片"
                                                 title="点击添加图片"/>
                                            <input id="picLegalID" type="file" upload="file" pictype="legal_ID" />

                                            <p class="po input" onclick="getElementById('picLegalID').click()"><span
                                                    class="may"><label>选择文件</label></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-marginbottom">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">一般纳税人证明：</span>
                                        </div>
                                        <div class=" pull-left">
                                            <a rel="lightbox" style="display:#if($!{attachmentList.taxpayer_evidence.url}) block #else none #end;">
                                                <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.taxpayer_evidence.url}"/></a>
                                            <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                 onclick="getElementById('picTaxpayerEvidence').click()" alt="点击添加图片"
                                                 title="点击添加图片"/>
                                            <input id="picTaxpayerEvidence" type="file" upload="file"
                                                   pictype="taxpayer_evidence"/>

                                            <p class="po input" onclick="getElementById('picTaxpayerEvidence').click()"><span
                                                    class="may"><label>选择文件</label></span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">企业调查表：</span>
                                        </div>
                                        <div class=" pull-left">
                                            <a rel="lightbox" style="display:#if($!{attachmentList.enterprise_survey.url}) block #else none #end;">
                                                <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.enterprise_survey.url}"/></a>
                                            <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                 onclick="getElementById('picEnterpriseSurvey').click()" alt="点击添加图片"
                                                 title="点击添加图片"/>
                                            <input id="picEnterpriseSurvey" type="file" upload="file"
                                                   pictype="enterprise_survey"/>

                                            <p class="po input" onclick="getElementById('picEnterpriseSurvey').click()"><span
                                                    class="may"><label>选择文件</label></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-marginbottom">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">开票速度：</span>
                                            <span class="view" id="invoiceSpeedText"></span>
                                            <input type="hidden" id="invoiceSpeed" value="$!{accountExt.invoiceSpeed}">
                                        </div>
                                        <div class=" pull-left input">
                                            <label><input type="radio" name="invoiceSpeed" value="NORMAL"
                                                          checked="checked"/>正常&nbsp;&nbsp;</label>
                                            <label><input type="radio" name="invoiceSpeed" value="SLOW"/>慢&nbsp;&nbsp;
                                            </label>
                                            <label><input type="radio" name="invoiceSpeed" value="FAST"/>快&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tableSix">
                            <h1>开票资料<span></span></h1>

                            <div id="billingInfo">
                                <div class="row row-marginbottom">
                                    <div class="col-md-6">
                                        <div class=" row-marginbottom">
                                            <span class="xo edo">税号：</span>
                                            <span class="view">$!{accountExt.taxCode}</span>
                                            <input id="taxCode" type="text" class="l-text input" value="$!{accountExt.taxCode}" placeholder="税号"/>
                                        </div>
                                        <div class=" row-marginbottom">
                                            <span class="xo edo">开票地址：</span>
                                            <span class="view">$!{accountExt.addr}</span>
                                            <input id="addr" type="text" class="l-text input" value="$!{accountExt.addr}" placeholder="开票地址"/>
                                        </div>
                                        <div>
                                            <span class="xo edo">电话号码：</span>
                                            <span class="view">$!{accountExt.taxTel}</span>
                                            <input id="taxTel" type="text" class="l-text input" value="$!{accountExt.taxTel}" placeholder="电话号码"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <span class="xo edo">开票资料：</span>
                                        </div>
                                        <div class=" pull-left">
                                            <a rel="lightbox" style="display:#if($!{attachmentList.invoice_data.url}) block #else none #end;">
                                                <img class="imgbigger imgo" src="$link.getContextPath()/common/getfile.html?key=$!{attachmentList.invoice_data.url}"/></a>
                                            <img class="imgo input" src="$link.getContextPath()/theme/default/avatars/file.png"
                                                 onclick="getElementById('picInvoiceData').click()" alt="点击添加图片"
                                                 title="点击添加图片"/>
                                            <input id="picInvoiceData" type="file" upload="file"
                                                   pictype="invoice_data"/>

                                            <p class="po input" onclick="getElementById('picInvoiceData').click()"><span
                                                    class="may"><label>选择文件</label></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-marginbottom">
                                    <div class="col-md-12">
                                        <span class="xo edo">开户银行：</span>
                                        <span class="view">$!{accountExt.taxBankNameMain}</span>
                                        <span class="view">$!{accountExt.taxBankNameBranch}</span>
                                        <input type="text" id="taxBankNameMain" value="$!{accountExt.taxBankNameMain}" class="l-text input" placeholder="开户银行"/>
                                        <input type="text" id="taxBankNameBranch" value="$!{accountExt.taxBankNameBranch}" class="l-text input" placeholder="支行名称"/>
                                    </div>
                                </div>
                                <div class="row row-marginbottom">
                                    <div class="col-md-12">
                                        <span class="xo edo">银行账号：</span>
                                        <span class="view">$!{accountExt.bankNumber}</span>
                                        <input id="bankNumber" type="text" value="$!{accountExt.bankNumber}" class="l-text input" placeholder="银行账号"/>
                                    </div>
                                </div>
                                <div class="row row-marginbottom borderbottom">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <span class="xo edo">开票类型：</span>
                                            <span id="invoiceTypeText" class="view"></span>
                                            <input type="hidden" id="invoiceType" value="$!{accountExt.invoiceType}">
                                        </div>
                                        <label class="input"><input type="radio" name="invoiceType" value="NORMAL" />增值税普通发票</label>
                                        <label class="input"><input type="radio" name="invoiceType" value="PRIVATE" checked="checked"/>增值税专用发票</label>
                                    </div>
                                </div>
                                #if($!{accountExt.invoiceDataStatus} == "4")
                                    <div class="row row-marginbottom">
                                        <div class="col-md-6">
                                            <span class="xo edo">审核意见：</span>
                                            <span class="view red"><label>$!{accountExt.invoiceDataDeclineReason}</label></span>
                                        </div>
                                    </div>
                                #end
                            </div>
                        </div>
                    </div>
                    <div id="btnBar" class="text-center clearfix">
                        <button class="btn btn-primary" id="editInfoBtn" type="button">编辑</button>
                        <button class="btn btn-primary input" id="saveInfoBtn" type="button">保存</button>
                        <a class="input" href="javascript:window.location.reload(true);">返回</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<input type="hidden" id="accountId" value="$!{account.id}">
<script type="text/javascript">
    var _isSeller = #if(${isSeller}) true #else false #end;
</script>
<script src="$link.getContextPath()/js/views/common/uploadfile.js"></script>
<script src="$link.getContextPath()/js/views/account/credentialsinfo.js"></script>
