
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            	基础管理
        </li>
         <li>品规设置</li>
        <li>扩展属性编辑</li>
    </ul><!-- /.breadcrumb -->
</div>
<!-- content S -->
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!--TAPBAR-->
			<div class="tabbar">
				<ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab4">
					<li>
                        <a href="$link.getContextPath()/category/showcategory.html">大类设置</a>
					</li>
					<li>
						<a href="$link.getContextPath()/category/list.html">品名设置</a>
					</li>
					<li>
						<a href="$link.getContextPath()/resource/materials/index.html">材质管理</a>
					</li>
					<li>
                        <a href="$link.getContextPath()/resource/attribute/index.html">扩展属性设置</a>
					</li>
					<li class="active">
						<a href="#">扩展属性编辑</a>
					</li>
				</ul>
			</div>
			<!-- PAGE CONTENT BEGINS -->
			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix">
                        <div class="pull-left">
                            <button id="attrAdd" class="btn btn-primary" title="添加">
                                <i class="ace-icon glyphicon glyphicon-plus align-top bigger-125"></i>
                                	 添加
                            </button>
                        </div>

                        <div class="input-group pull-right col-md-8 col-sm-9 col-lg-6 text-right">
							<form class="form-inline">
                                <label>属性类别：</label>
    								<select name="type">
    								<option value="" selected = "selected" >请选择</option>
    								#foreach( $list in $attrTypeList )
    									<option value="$!list.valEn" >$!list.valCn</option>
    								#end
    								</select>
    							<label>属性名：</label><input id="attrName" class="" type="text" value="" />                                                                                             
                                <button id="queryBtn" class="btn btn-sm btn-default" type="button">搜索                                  
                                </button>
    							<button class="btn btn-sm btn-default" type="button" id='cleanSearch'>清空</button>
                            </form>
                        </div>
					</div>

					<!-- div.dataTables_borderWrap -->
					<div>
						<table id="dynamic-table" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								<th>属性名</th>
								<th>属性类型</th>
								<th>值</th>
								<th style="width: 80px;">操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>

		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->
<script src="$link.getContextPath()/js/views/resource/attribute/edit/index.js"></script>