<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            	客户管理
        </li>
        <li class="active">划转卖家客户</li>
    </ul><!-- /.breadcrumb -->

		#parse("layout/topbtn.vm")<!-- /.nav-search -->
</div>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix">
						<div class="form-group">
							<div class="col-sm-8">
								<label>选择我的卖家客户：</label>
								<select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
								#foreach($item in $list)
									<option value="$item.id" nameex="$!item.uName" uid="$item.managerId" type="$item.type">$!item.name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$!item.uName</option>
								#end
								</select>
								<div class="hr hr-16 hr-dotted"></div>
							</div>
							<div class="col-sm-3 control-label no-padding-top" for="duallist">
                                <label>服务中心：</label><input placeholder="请选择服务中心" must='1' id="sorganization" type="text"
                                                           class="ipt-text" readonly="" value=""
                                                           onclick="showMenu(); style='width: 200px'"/>
                                <input type='hidden' id='sorganizationHidden' value='0'/><br/>
								<label>选择要划转到的业务员：</label><br />
									<select id="userId">
									#foreach($item in $userList)
										<option value="$item.id" nameNext="$item.name">$item.name</option>
									#end
									</select>
								<button class="btn btn-info" type="button" id="trans">
									<i class="ace-icon fa fa-check bigger-110"></i>
									划转
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->

<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="tree" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>
<!-- page specific plugin scripts -->
<script src="$link.getContextPath()/theme/default/js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="$link.getContextPath()/theme/default/js/jquery.raty.min.js"></script>
<script src="$link.getContextPath()/theme/default/js/bootstrap-multiselect.min.js"></script>
<script src="$link.getContextPath()/theme/default/js/select2.min.js"></script>

<script src="$link.getContextPath()/js/transfered.js"></script>
<script src="$link.getContextPath()/js/views/account/accoutassign.js"></script>
<script src="$link.getContextPath()/js/views/account/assigncommen.js"></script>