<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            	客户管理
        </li>
        <li class="active">
            <a href="$link.getContextPath()/account/$!{type}.html">
                我的#if($type=="buyer")买#else卖#end家客户
            </a>
        </li>
        <li class="active"><a href="$link.getContextPath()/account/$!{type}/${account.account.id}.html">$!{account.account.name}</a></li>
        <li class="active">客户划转记录</li>
    </ul>
    <!-- /.breadcrumb -->

    #parse("layout/topbtn.vm")
    <!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!--TAPBAR-->
            <div class="tabbar">
                <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab4">
                    <li>
                        <a href="$link.getContextPath()/account/$!{type}/${account.account.id}.html">企业基本信息</a>
                    </li>
                    <li>
                        <a href="$link.getContextPath()/account/$!{type}/${account.account.id}/contactlist.html">联系人信息</a>
                    </li>
                    <li class="active">
                        <a href="$link.getContextPath()/account/$!{type}/${account.account.id}/assignlog.html">客户划转记录</a>
                    </li>
                    <li>
                        #if($type=="buyer")
                            <a href="$link.getContextPath()/account/buyer/${account.account.id}/purchaselist.html">采购记录</a>
                        #else
                            <a href="$link.getContextPath()/account/seller/${account.account.id}/salelist.html">销售记录</a>
                        #end
                    </li>
                    <li>
                        <a href="$link.getContextPath()/account/$!{type}/${account.account.id}/contracttemplate.html">合同模板</a>
                    </li>
                    <li>
                        <a href="$link.getContextPath()/account/$!{type}/${account.account.id}/translog.html">账户信息</a>
                    </li>
					<li>
						<a href="$link.getContextPath()/account/$!{type}/${account.account.id}/bankinfo.html">银行信息</a>
					</li>
                </ul>
            </div>
            <!-- div.table-bar -->

            <div>
                <table id="assignlogs" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>会员名称</th>
                        <th>注册时间</th>
                        <th>前#if($!type=="buyer")买#else卖#end家交易员</th>
                        <th>现#if($!type=="buyer")买#else卖#end家交易员</th>
                        <th>分配人</th>
                        <th>分配时间</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<input type="hidden" id="accountId" value="${account.account.id}">
<script src="$link.getContextPath()/js/views/account/assignLog.js"></script>
