{
    "data": [{
        "ename": "武汉和晟祥物资有限公司",
        "service": "武汉",
        "buyer": "杨和华",
        "actualWeight": "30.0000",
        "actualRMB": "12,123,00",
        "sye": "5421,00",
		"returnRMB": "542,00",
		"txRMB": "5421,00",
		"bqReturnRMB": "5421,00"
		
    },
	{
        "ename": "武汉物资有限公司",
        "service": "武汉",
        "buyer": "风清扬",
        "actualWeight": "30.0000",
        "actualRMB": "12,123,00",
        "sye": "5421,00",
		"returnRMB": "542,00",
		"txRMB": "5421,00",
		"bqReturnRMB": "5421,00"
		
    }]
}