<div class="tabbar order-tab">
    <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab4">
        #if($shiro.hasPermission("smartmatch:basePriceRelation:index:page"))
            <li tab="0"><a href="$link.getContextPath()/smartmatch/basePriceRelation/index.html">基价管理</a></li>
        #end
        #if($shiro.hasPermission("smartmatch:basePriceRelation:basepricerelation:page"))
            <li tab="1"><a href="$link.getContextPath()/smartmatch/basePriceRelation/basepricerelation.html#idx=1">基价关联设置</a></li>
        #end
    </ul>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        //绑定确认方法
        var hashIdx=location.hash;
        var  idx = hashIdx.split("="),index = parseInt(idx[1]);
        if (hashIdx==""){
            index=0;
        }
        $("#myTab4").children("li[tab='" + index + "']").addClass("active");
        // $(".active").removeClass("active")
    });
</script>