<link href="$link.getContextPath()/css/marketlist.css" rel="stylesheet" />
<div class="m-main" id="m-main">
	<dl class="" style="width:380px;margin:100px auto;text-align:center">
		<dt style="font-size:80px;color:#c81623;font-weight:bold"><img src="$link.getContextPath()/img/err500.png" /></dt>
		<dd style="font-size:14px;font-weight:bold;line-height:30px;text-align:center;">
			服务器内部错误，
			请及时与管理员联系或企业群里知会下。
			#if($!errorMessage)
			<div>
				#if($!errorCode)
				code: $!errorCode 
				#end
				message: $!errorMessage
			</div>
			#end
		</dd>
	</dl>
</div>	