#set($layout="layout/blank.vm")
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>品牌店代运营系统</title>
    <!-- meta S -->
    #parse("layout/meta.vm")
    <!-- meta E -->

    <!-- context S -->
    #parse("layout/context.vm")
    <!-- context E -->
</head>

<body class="no-skin">
<!-- Header S-->
    #parse("layout/header.vm")
<!-- Header E -->

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <!-- Sidebar S-->
    #parse("layout/sidebar.vm")
    <!-- Sidebar E -->

    <div class="main-content">
        <div class="main-content-inner">
            <!-- content S -->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First accountName</th>
                    <th>Last accountName</th>
                </tr>
                </thead>
            </table>
            <!-- content E -->
        </div>
    </div><!-- /.main-content -->

    <!-- Footer S -->
    #parse("layout/footer.vm")
    <!-- Footer E -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts S -->
    #parse("layout/scripts.vm")
<!-- basic scripts E -->
<script src="$link.getContextPath()/js/views/demo.js"></script>
</body>
</html>