<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.core.persist.dao.CategoryGroupDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.core.model.model.CategoryGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="parent_uuid" property="parentUuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="site_uuid" property="siteUuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, parent_uuid, name, site_uuid, is_deleted, created, created_by, last_updated, 
    last_updated_by, modification_number, row_id, parent_row_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from common_category_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from common_category_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.prcsteel.platform.core.model.model.CategoryGroup" >
    insert into common_category_group (id, uuid, parent_uuid, 
      name, site_uuid, is_deleted, 
      created, created_by, last_updated, 
      last_updated_by, modification_number, row_id, 
      parent_row_id)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{parentUuid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{siteUuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{modificationNumber,jdbcType=INTEGER}, #{rowId,jdbcType=VARCHAR}, 
      #{parentRowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.core.model.model.CategoryGroup" >
    insert into common_category_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="parentUuid != null" >
        parent_uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="siteUuid != null" >
        site_uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="parentUuid != null" >
        #{parentUuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="siteUuid != null" >
        #{siteUuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.core.model.model.CategoryGroup" >
    update common_category_group
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="parentUuid != null" >
        parent_uuid = #{parentUuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="siteUuid != null" >
        site_uuid = #{siteUuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        modification_number = #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.core.model.model.CategoryGroup" >
    update common_category_group
    set uuid = #{uuid,jdbcType=VARCHAR},
      parent_uuid = #{parentUuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      site_uuid = #{siteUuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--CBMS根据父级UUID查找子集-->
  <select id="queryByParentUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from common_category_group
    where site_uuid='inner_cbms'
    and parent_uuid = #{parentUuid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from common_category_group
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectNoSelectForRebate" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from common_category_group t1 where t1.uuid not in(
	select category_UUID from base_rebate  where rebate_status='EFFECT'
	)  and t1.is_deleted=0 and t1.site_uuid='inner_cbms'
  </select>
  
  <select id="selectNoSelectForReward" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from common_category_group t1 where t1.uuid not in(
	select category_UUID from base_reward  where reward_status='EFFECT'
	)  and t1.is_deleted=0 and t1.site_uuid='inner_cbms'
  </select>
  
  
      <resultMap id="CategoryGroupMap" type="com.prcsteel.platform.core.model.dto.CategoryGroupDto">
         <id column="id" property="id" jdbcType="BIGINT"/>
         <result column="category_group_name" property="categoryGroupName" jdbcType="VARCHAR" />
         <result column="category_group_uuid" property="categoryGroupUuid" jdbcType="VARCHAR" />
        <result column="parent_uuid" property="parentUuid" jdbcType="VARCHAR" />
    </resultMap>
  <!--查找所有CBMS大类-->
  
   <select id="queryAllBaseCategoryGroup" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from common_category_group t1
        left join common_site t2 on t1.site_uuid=t2.uuid
        where t2.uuid='inner_cbms' and t1.parent_uuid=0   and t1.is_deleted=0    
    </select>
    
     <select id="queryAllCategoryGroupInner" resultMap="CategoryGroupMap" >
        select
        t1.id,t1.uuid as category_group_uuid,t1.name as category_group_name
        from common_category_group t1
        left join common_site t2 on t1.site_uuid=t2.uuid
        where t2.uuid='inner_cbms' and t1.parent_uuid=0   and t1.is_deleted=0    
    </select>
    
    <select id="selectByNsortName" resultMap="CategoryGroupMap">
      select t1.id,t1.uuid as category_group_uuid,t1.name as category_group_name
      from common_category_group t1
      left join common_group_for_category t3 on t1.uuid = t3.category_group_uuid
      left join common_category t4 on t3.category_uuid = t4.uuid
      where
        t1.site_uuid='inner_cbms' and t1.is_deleted=0 AND t1.is_deleted =0
        AND t3.is_deleted =0 and t4.name = #{nsortName}
    </select>
	
	<select id="selectByCategoryName" resultMap="CategoryGroupMap">
		SELECT
			IFNULL(t2.id,t1.id) as id,
			ifnull(t2.uuid,t1.uuid) AS category_group_uuid,
			ifnull(t2.NAME,t1.name) AS category_group_name
		FROM
			common_category_group t1
		LEFT JOIN common_category_group t2 on t1.parent_uuid = t2.uuid
		LEFT JOIN common_group_for_category t3 ON t1.uuid = t3.category_group_uuid
		LEFT JOIN common_category t4 ON t3.category_uuid = t4.uuid
		
		WHERE
			t1.site_uuid = 'outer_market'
		AND t1.is_deleted = 0
		AND t3.is_deleted = 0
		AND t4.is_deleted = 0
		and t4.name = #{categoryName}
	</select>
  <select id="queryAllCategoryGroupOuter" resultMap="CategoryGroupMap" >
    select
    t1.id,t1.uuid as category_group_uuid,t1.name as category_group_name, t1.parent_uuid
    from common_category_group t1
    left join common_site t2 on t1.site_uuid=t2.uuid
    where t2.uuid='outer_market' and t1.parent_uuid !=0 and t1.is_deleted=0
    order by t1.id asc
  </select>

  <select id="queryAllParentCategoryGroupOuter" resultMap="CategoryGroupMap" >
    select
    t1.id,t1.uuid as category_group_uuid,t1.name as category_group_name
    from common_category_group t1
    left join common_site t2 on t1.site_uuid=t2.uuid
    where t2.uuid='outer_market' and t1.parent_uuid =0 and t1.is_deleted=0
    order by t1.id asc
  </select>
  
   <select id="queryAllParentCategoryGroupInner" resultMap="CategoryGroupMap" >
    select
    t1.id,t1.uuid as category_group_uuid,t1.name as category_group_name
    from common_category_group t1
    where t1.parent_uuid=0 and t1.site_uuid='inner_cbms'
  </select>
  <resultMap id="CategoryGroupToWechat" type="com.prcsteel.platform.order.model.wechat.dto.CategoryGroup">
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <!--查找所有CBMS大类给积分系统-->
  <select id="queryAllCategoryGroupToWechat" resultMap="CategoryGroupToWechat">
  select
        t1.uuid as uuid,t1.name as name
        from common_category_group t1
        left join common_site t2 on t1.site_uuid=t2.uuid
        where t2.uuid='inner_cbms' and t1.parent_uuid=0   and t1.is_deleted=0
  </select>
  
</mapper>