<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prcsteel.platform.core.persist.dao.CategoryNormsDao" >
  <resultMap id="BaseResultMap" type="com.prcsteel.platform.core.model.model.CategoryNorms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_uuid" property="categoryUuid" jdbcType="VARCHAR" />
    <result column="norms_uuid" property="normsUuid" jdbcType="VARCHAR" />
    <result column="range" property="range" jdbcType="VARCHAR" />
    <result column="range_type" property="rangeType" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="modification_number" property="modificationNumber" jdbcType="INTEGER" />
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="parent_row_id" property="parentRowId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_uuid, norms_uuid, `range`, range_type, is_deleted, created, created_by,
    last_updated, last_updated_by, modification_number, row_id, parent_row_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from common_category_norms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from common_category_norms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.prcsteel.platform.core.model.model.CategoryNorms" >
    insert into common_category_norms (id, category_uuid, norms_uuid, 
      range, range_type, is_deleted, 
      created, created_by, last_updated, 
      last_updated_by, modification_number, row_id, 
      parent_row_id)
    values (#{id,jdbcType=INTEGER}, #{categoryUuid,jdbcType=VARCHAR}, #{normsUuid,jdbcType=VARCHAR}, 
      #{range,jdbcType=VARCHAR}, #{rangeType,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{modificationNumber,jdbcType=INTEGER}, #{rowId,jdbcType=VARCHAR}, 
      #{parentRowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.prcsteel.platform.core.model.model.CategoryNorms" >
    insert into common_category_norms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryUuid != null" >
        category_uuid,
      </if>
      <if test="normsUuid != null" >
        norms_uuid,
      </if>
      <if test="range != null" >
        range,
      </if>
      <if test="rangeType != null" >
        range_type,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdated != null" >
        last_updated,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="modificationNumber != null" >
        modification_number,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="parentRowId != null" >
        parent_row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryUuid != null" >
        #{categoryUuid,jdbcType=VARCHAR},
      </if>
      <if test="normsUuid != null" >
        #{normsUuid,jdbcType=VARCHAR},
      </if>
      <if test="range != null" >
        #{range,jdbcType=VARCHAR},
      </if>
      <if test="rangeType != null" >
        #{rangeType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        #{parentRowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prcsteel.platform.core.model.model.CategoryNorms" >
    update common_category_norms
    <set >
      <if test="categoryUuid != null" >
        category_uuid = #{categoryUuid,jdbcType=VARCHAR},
      </if>
      <if test="normsUuid != null" >
        norms_uuid = #{normsUuid,jdbcType=VARCHAR},
      </if>
      <if test="range != null" >
        range = #{range,jdbcType=VARCHAR},
      </if>
      <if test="rangeType != null" >
        range_type = #{rangeType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null" >
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNumber != null" >
        modification_number = #{modificationNumber,jdbcType=INTEGER},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="parentRowId != null" >
        parent_row_id = #{parentRowId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prcsteel.platform.core.model.model.CategoryNorms" >
    update common_category_norms
    set category_uuid = #{categoryUuid,jdbcType=VARCHAR},
      norms_uuid = #{normsUuid,jdbcType=VARCHAR},
      range = #{range,jdbcType=VARCHAR},
      range_type = #{rangeType,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      modification_number = #{modificationNumber,jdbcType=INTEGER},
      row_id = #{rowId,jdbcType=VARCHAR},
      parent_row_id = #{parentRowId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getNormCombineByCategoryUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List" />
  	from common_category_norms
  	where category_uuid = #{categoryUuid,jdbcType=VARCHAR}
  	order by priority,id
  </select>
</mapper>