<!--TAPBAR-->
<div class="tabbar">
    <ul class="nav nav-tabs tab-color-blue" id="myTab4">
        #if($shiro.hasPermission("kuandao:account:index:page"))
            <li
                #if(${tab} == 'index')
                        class="active"
                #end>
                <a
                    #if(${tab} == 'index')
                            href="javascript:;"
                    #else
                            href="$link.getContextPath()/kuandao/account/index.html"
                    #end>已开户</a>

            </li>
        #end
        #if($shiro.hasPermission("kuandao:account:unopenaccount:page"))
            <li
                #if(${tab} == 'unopenaccount')
                        class="active"
                #end>
                <a
                    #if(${tab} == 'unopenaccount')
                            href="javascript:;"
                    #else
                            href="$link.getContextPath()/kuandao/account/unopenaccount.html"
                    #end
                        >未开户
                </a>
            </li>
        #end

        #if($shiro.hasPermission("kuandao:account:synchronizelog:page"))
            <li
                #if(${tab} == 'synchronizelog')
                        class="active"
                #end>
                <a
                    #if(${tab} == 'synchronizelog')
                            href="javascript:;"
                    #else
                            href="$link.getContextPath()/kuandao/account/synchronizelog.html"
                    #end
                        >同步日志</a>
            </li>
        #end

    </ul>
</div>
#* tab,用于订单详情的面包屑 *#
<input type="hidden" id="pageTab" value="${tab}"/>