#set($layout="layout/blank.vm")
    <div style='width: 400px;margin-top:25px;'>
        <form id='materialsForm' class='form-horizontal' >
        	<input type="hidden" name="materialId" value="$!info.materialId">
        	<input type="hidden" name="categoryMaterialId" value="$!info.categoryMaterialId">
            <div class='form-group'><label class='col-sm-3 control-label no-padding-right'>品名:</label>
                <div class='col-sm-9'>
					<input type="text" autocomplete="off" search='nsort' class="f-text nsortName" id="category" placeholder='请选择品名' readOnly must="1" value="$!info.categoryName" nsortid="$!info.categoryUuid" />
				</div>
            </div>
            <div class='form-group'><label class='col-sm-3 control-label no-padding-right' >材质:</label>
               <div class='col-sm-9'>
					<input type="text" autocomplete="off" class="f-text nsortName" id="material" placeholder='请输入材质名称' must="1" value="$!info.materialName"  />
			   </div> 
            </div>
            <div class='form-group'><label class='col-sm-3 control-label no-padding-right' >备注:</label>
				<div class='col-sm-9'>
                    <textarea  type="text" id='remark' style="margin: 0px; width: 229px; height: 52px;" >$!info.remark</textarea>
			   </div>
            </div>
            <div class="modal-footer">
            	<button  data-bb-handler="success" id="saveBtn" type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-check"></i> 保存</button>
                <button  data-bb-handler="button"  id="cancelBtn" type="button" class="btn btn-sm">取消</button>
            </div>
        </form>
    </div>
<script src="$link.getContextPath()/js/views/resource/materials/create.js"></script>