<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">智能找货</a>
        </li>
        <li>
            <a href="#">询价单管理</a>
        </li>
        <li>
            询价单详情
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
					#inquiryDetailManager("inquiryOrderDetail")
                </div>
            </div>
        </div>
    </div>
</div>
