<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>采购合同</title>
		<style type="text/css" id="style1">
			body {
				margin: 0;
				border: 0;
				font-family: "宋体";
				font-size: 14px;
			}
			
			.title {
				font-size: 20px;
				text-align: center;
			}
			
			.container1 {
				width: 800px;
				margin: 10px auto;
			}
			
			table {
				border-color: #999;
				border-collapse: collapse;
			}
			
			table td {
				height: 25px;
				font-size: 12px;
			}
			
			button {
				display: inline-block;
				width: 100px;
				line-height: 30px;
				text-align: center;
				text-align: center;
			}
			.info-table td{
				font-size: 13px;
			}
			.sign-table td {
				line-height: 30px;
				font-size: 14px;
			}
		</style>
	</head>

	<body>

		<div class="container1">

			<div class="title" style="font-size: 20px;text-align: center;">
				采购合同
			</div>
			<div id="a1">
				<table width="100%" class="info-table">
					<tr>

						<td width="60%">甲方（供方）：</td>

						<td>合同编号： </td>

					</tr>
					<tr>
						<td>乙方（供方）：杭州钢为网络科技有限公司</td>
						<td>签订时间：  </td>
					</tr>
					<tr>
						<td></td>
						<td>签约地点：</td>
					</tr>
				</table>
			</div>
			<p>一、产品信息</p>

			<div id="a2">
				<table border="1" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;">
					<thead>
						<tr>
							<td>货物名称</td>
							<td>规格mm</td>
							<td>材质</td>
							<td>厂家</td>
							<td>仓库</td>
							<td>件数(件)</td>
							<td>数量(吨)</td>
							<td>记重方式</td>
							<td width="12%">单价(含税)(元/吨)</td>
							<td>金额(元)</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td> </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td> </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td> </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>

						<tr>
							<td colspan="5">合计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>

						</tr>
						<tr>
							<td colspan="2">金额大写</td>
							<td colspan="8"></td>

						</tr>
					</tbody>
				</table>
			</div>
			<p id="a8">二、结算方式及期限：合同签订后____个工作日内向甲方下述账号提供付款</p>
			<div id="a3">
				<table cellpadding="0" cellspacing="0" border="1" width="100%" style="text-align: center;">
					<tr>
						<td width="30%">甲方（供方）</td>
						<td></td>

					</tr>
					<tr>
						<td>开户行</td>
						<td></td>
					</tr>
					<tr>
						<td>户名</td>
						<td></td>
					</tr>
					<tr>
						<td>账号</td>
						<td></td>
					</tr>
					<tr>
						<td>行号</td>
						<td></td>
					</tr>
					<tr>
						<td>电话</td>
						<td></td>
					</tr>
					<tr>
						<td>传真</td>
						<td></td>
					</tr>
				</table>
			</div>
			<p>三、提(交)货信息</p>

			<p id="a4">1.交（提）货地点： 货物所在仓库 ；</p>

			<p id="a5">2.运输方式： 自提 ；</p>

			<p id="a6">3.相关费用承担：出库费由_____方承担，运费由 _____方承担。 </p>

			<p>四、质量要求及技术标准：供货方所提供的产品须符合国家行业的标准。</p>

			<p>
				五、乙方对质量负责的条件和期限：如发生质量异议，在甲方收货后 7 个工作日内通知乙方，双方协商解决，对原货物不得变动或使用,非乙方过错造成损失的乙方不承担责任。质量争议最终以钢厂的处理意见为准。若在该期限内若甲方未提出异议，则认为验收合格。
			</p>

			<p>六、违约责任：依据《中华人民共和国合同法》相关规定处理。</p>

			<p>七、合同争议的解决方式：本合同在履行过程中发生的争议由双方当事人协商解决，协商或 调解不成的在甲方所在地法院诉讼解决
			</p>
			<p>
				八、本合同自双方盖章之日起生效，本合同一式二份，双方各执一份。传真件与原件具有同 等法律效力。
			</p>
			<div id="a7">
				<table width="100%" class="sign-table">
					<tr>
						<td width="50%">甲方：</td>

						<td>乙方：杭州钢为电子商业有限公司</td>
					</tr>
					<tr>
						<td>法定代表人(授权代表)：</td>

						<td>法定代表人(授权代表)：</td>
					</tr>

					<tr>
						<td>日期：</td>
						<td>日期：</td>
					</tr>
				</table>
			</div>
			<button onclick="print2()">打印采购合同</button>
		<button onclick="edit2()">编辑采购合同</button>
		</div>

		

		<script language="javascript" src="../js/LodopFuncs.js"></script>
		<script>
			var LODOP;

			function print2() {
				createTable2();
				LODOP.PREVIEW();
			}

			function edit2() {
				createTable2();
				LODOP.PRINT_DESIGN();
			}

			

			function createTable2() {
				LODOP = getLodop();
				var strBodyStyle = "<style>" + document.getElementById("style1").innerHTML + "</style>";
				var table1 = strBodyStyle + "<body>" + document.getElementById('a2').innerHTML + "</body>";
				var table2 = strBodyStyle + "<body>" + document.getElementById('a3').innerHTML + "</body>";
				var table3 = strBodyStyle + "<body>" + document.getElementById('a7').innerHTML + "</body>";
				var table4 = strBodyStyle + "<body>" + document.getElementById('a1').innerHTML + "</body>";
				LODOP.PRINT_INITA(0, 0, 800, 1000, "");
				LODOP.ADD_PRINT_TEXT(20, 315, 150, 30, "钢为网采购合同");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 14);
				LODOP.SET_PRINT_STYLEA(0, "Bold", 1);
//				LODOP.ADD_PRINT_TEXT(80, 60, 333, 25, "甲方（供方）：");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(80, 400, 284, 28, "合同编号： ");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(105, 60, 333, 25, "乙方（需方）：杭州钢为网络科技有限公司");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(105, 400, 285, 25, "签订时间：     年      月      日");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(130, 400, 287, 25, "签约地点： ");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
                LODOP.ADD_PRINT_HTM(80, 60, 640, 75, table4);
				LODOP.ADD_PRINT_TEXT(160, 60, 480, 25, "甲乙双方就现货销售事宜，经平等、自愿协商，达成如下一致意见:");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(185, 60, 141, 25, "一、产品信息");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_HTM(205, 60, 640, 215, table1);
				LODOP.ADD_PRINT_TEXT(435, 60, 621, 25, document.getElementById('a8').innerHTML);
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_HTM(455, 60, 640, 185, table2);
				LODOP.ADD_PRINT_TEXT(645, 60, 171, 25, "三、提(交)货信息");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(670, 60, 280, 25, document.getElementById('a4').innerHTML);
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(695, 60, 257, 25, document.getElementById('a5').innerHTML);
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(720, 60, 563, 25, document.getElementById('a6').innerHTML);
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(745, 60, 557, 25, "四、质量要求及技术标准：供货方所提供的产品须符合国家行业的标准。");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(770, 60, 645, 40, "五、甲方对质量负责的条件和期限：如发生质量异议，在乙方收货后  5  日内通知甲方，双方协商解决。在该期限内若乙方未提出异议，则认为验收合格。");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(810, 60, 603, 25, "六、违约责任：依据《中华人民共和国合同法》相关规定处理。");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(830, 60, 645, 40, "七、合同争议的解决方式：本合同在履行过程中发生的争议由双方当事人协商解决，协商或调节不成的在合同签定所在地法院诉讼解决。");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
				LODOP.ADD_PRINT_TEXT(870, 60, 645, 25, "八、本合同自双方盖章之日起生效，本合同一式二份，双方各执一份。传真件与原件具有同等法律效力。");
				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(920, 60, 314, 25, "甲方：");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(920, 400, 344, 25, "乙方：杭州钢为网络科技有限公司");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(960, 60, 314, 25, "法定代表人(授权代表)：");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(960, 400, 342, 25, "法定代表人(授权代表)：");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(1000, 60, 310, 25, "日期:");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
//				LODOP.ADD_PRINT_TEXT(1000, 400, 341, 25, "日期:");
//				LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);
                LODOP.ADD_PRINT_HTM(890, 60, 645, 95, table3);
			}
		</script>
	</body>

</html>