<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
          	 财务报表
        </li>
        <li>
                        服务中心二次结算储备金日报
        </li>
	</ul><!-- /.breadcrumb -->

		#parse("layout/topbtn.vm")<!-- /.nav-search -->
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix">
						<div class="clearfix">
						<form id="searchForm" class="form-inline">
							<div class="pull-left">
								<label>时间：</label>
                                <input id="dateTime" type="text" value="$!currentTime"
                       			class="c-text" onFocus="WdatePicker({minDate:'2015-01-01',maxDate:'2020-10-01'}) "/>       
                                <button id="queryBtn" class="btn btn-sm btn-default" type="button" title="搜索">
                                    <i class="aace-icon fa fa-search bigger-110"></i>搜索
                                </button>
                            </div>
						</form>
                        </div>
					</div>

					<!-- div.dataTables_borderWrap -->
					<div>
						<table id="dynamic-table" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>服务中心</th>
									<th>储备金总额(元)</th>
									<th>昨日余额(元)</th>
									<th>当日增加(元)</th>
									<th>当日减少(元)</th>
									<th>当日余额(元)</th>
								</tr>
							</thead>
							<tbody id="secondpayment_datarow">
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
							 <tbody class="tbody-border0" id="secondpayment_footer">
								<tr>
									<td></td>
									<td class="text-right">当页汇总</td>
									<td class="text-right"></td>
									<td class="text-right"></td>
									<td class="text-right"></td>
									<td class="text-right"></td>
								</tr>
							</tbody>
						</table>
						</table>
					</div>
				</div>
			</div>

		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->
<script src="$link.getContextPath()/js/views/report/organization/orgsecondsettlement.js"></script>
<script src="$link.getContextPath()/js/views/report/organization/totalcost.js"></script>