<!-- 全部-->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>
    <style >
        .menuContent{
            overflow: auto;
            height: 350px;
            overflow-x:hidden;
        }
    </style>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            	交易管理
        </li>
        <li>
            <a href="$link.getContextPath()/common/menu/order-view/order-query-index-page.html">交易单管理</a>
        </li>
        <li>
            <a href="$link.getContextPath()/order/query/tradecertificate.html?accountType=seller">交易凭证</a>
        </li>
        <li class="active crumb-nav">
				#if($accountType == "seller")
					打印卖家凭证
	        	#else
					打印买家凭证
	        	#end
        	</a>
		</li>
    </ul>
    <!-- /.breadcrumb -->

    #parse("layout/topbtn.vm")
    <!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!--TAPBAR-->
            <!-- tapbar S -->
            #parse("/layout/order/tapbar.vm")
            <!-- tapbar E -->

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
            	<!--TAPBAR-->
	            <div class="tabbar order-tab" id="mytabbar">
	                <ul class="nav nav-tabs padding-12 tab-color-blue">
	                    <li class="cer-tab #if(!$accountType || $accountType == 'seller') active #end" credentialType="seller"><a href="javascript:;">&nbsp;打印卖家凭证&nbsp;</a></li>
	                    <li class="cer-tab #if($accountType == 'buyer') active #end" credentialType="buyer"><a href="javascript:;">&nbsp;打印买家凭证&nbsp;</a></li>
	                    <li><a href="$link.getContextPath()/order/certificate/uploadcertificatelist/seller.html">&nbsp;上传卖家凭证&nbsp;</a></li>
	                    <li><a href="$link.getContextPath()/order/certificate/uploadcertificatelist/buyer.html">&nbsp;上传买家凭证&nbsp;</a></li>
	                    <li><a href="$link.getContextPath()/order/certificate/certificateinvoiceorder/seller.html">&nbsp;需补齐卖家凭证的已开票订单&nbsp;</a></li>
	                    <li><a href="$link.getContextPath()/order/certificate/certificateinvoiceorder/buyer.html">&nbsp;需补齐买家凭证的已开票订单&nbsp;</a></li>
						 <li><a href="$link.getContextPath()/order/certificate/batchuploading.html">&nbsp;批量上传凭证图片&nbsp;</a></li>
					</ul>
	            </div>
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="input-group pull-right col-md-12 col-sm-12 col-lg-12 search-bar">
                            <form class="form-inline">
                                <label>交易单号：<input id="code" class="ipt-text" type="text" value=""/></label>
                                
                				<label #if($accountType == "buyer") style="display:none;" #end>卖家全称：<input id="sellerName" accounttype="seller" search='account' class="ipt-text" type="text" value=""/></label>
                				<label #if($accountType == "seller") style="display:none;" #end>买家全称：<input id="buyerName" accounttype="buyer" search='account' class="ipt-text" type="text" value=""/></label>
                                <label>交易员：</label><input id="ownerName" class="ipt-text" type="text" value="" />
								<label>类型：
									<select id="blacklist">
										<option value="">全部</option>
										<option value="0">不须审核通过也能开票</option>
										<option value="1">必须审核通过才能开票</option>
									</select>
								</label>
                                <label>开单时间：
                                <input id="startTime" class="Wdate" type="text" value="$!{startTime}"
                                       onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})"/> -
                                <input id="endTime" class="Wdate" type="text"  value="$!{endTime}"
                                       onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})"/>
								</label>
                                <button id="queryBtn" class="btn btn-sm btn-default" type="button" title="搜索">
                                    <i class="aace-icon fa fa-search bigger-110"></i>搜索
                                </button>
                                
                                <a id="batchPrintBtn" class="btn btn-sm btn-default" title="批量打印凭证" href="$link.getContextPath()/order/query/tradecertificateforbatch.html?type=$accountType">
                                    <i class="aace-icon fa fa-search bigger-110"></i>批量打印凭证
                                </a>

                                <button id="export" class="btn btn-sm btn-default" type="button" title="导出" style="margin-left: 10px;">
                                    <i class="aace-icon fa bigger-110"></i>导出到EXCEL
                                </button>
                            </form>
                        </div>
                    </div>
					
                    <!-- div.dataTables_borderWrap -->
                    <div class="dataTable-overflow" id="seller-container">
                        <table id="seller-trade-credential" class="table table-striped table-bordered table-hover">
                            <thead>
	                            <tr>
	                                <th style="width:120px;">交易单号</th>
	                                <th style="width:120px;">开单时间</th>
	                                <th style="width:120px;">买家全称</th>
	                                <th style="width:70px;">钢为<br/>交易员</th>
	                                <th style="width:120px;">卖家全称</th>
	                                <th style="width:50px;">数量<br/>（件）</th>
	                                <th style="width:100px;">总重量<br/>(吨)</th>
	                                <th style="width:100px;">实提总重量<br/>(吨)</th>
	                                <th style="width:100px;">总金额<br/>(元)</th>
	                                <th style="width:100px;">实提总金额<br/>(元)</th>
	                                <th style="width:80px;">打印状态</th>
	                                <th style="width:100px;">距开单时间<br/>已有（天）</th>
									<th style="width:100px;">类型</th>
	                                <th style="width:60px;">操作</th>
	                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <!-- div.dataTables_borderWrap -->
                    <div class="dataTable-overflow" id="buyer-container" style="display:none;">
                        <table id="buyer-trade-credential" class="table table-striped table-bordered table-hover">
                            <thead>
	                            <tr>
	                                <th style="width:120px;">交易单号</th>
	                                <th style="width:120px;">开单时间</th>
	                                <th style="width:120px;">买家全称</th>
	                                <th style="width:70px;">钢为<br/>交易员</th>
	                                <th style="width:120px;">卖家全称</th>
	                                <th style="width:50px;">数量<br/>（件）</th>
	                                <th style="width:100px;">总重量<br/>(吨)</th>
	                                <th style="width:100px;">实提总重量<br/>(吨)</th>
	                                <th style="width:100px;">总金额<br/>(元)</th>
	                                <th style="width:100px;">实提总金额<br/>(元)</th>
	                                <th style="width:80px;">打印状态</th>
	                                <th style="width:100px;">距开单时间<br/>已有（天）</th>
									<th style="width:100px;">类型</th>
	                                <th style="width:60px;">操作</th>
	                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<input type="hidden" id="accountType" value="${accountType}"/>
<script src="$link.getContextPath()/js/views/order/tradecertificate.js"></script>
<script src="$link.getContextPath()/js/views/account/searchaccount.js"></script>

