
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>
</div>

<div class="page-content">
    <div class="">
        <div class="col-xs-12">
            <!--当前凭证是卖家-->
        #if($!orderCert.type == 'seller')
            <form action="$link.getContextPath()/order/query/uploadPic.html" method="POST"
                  enctype="multipart/form-data" id="orderForm" class="text-left">
                <input type="hidden" name="certid" id="certid" value="#if($!orderCert)$!orderCert.id#end">
                <input type="hidden" name="sellercertid" id="sellercertid" value="#if($!orderCert)$!orderCert.id#end">
                <input type="hidden" name="certcode" id="certcode" value="#if($!orderCert)$!orderCert.credentialCode#end">
                <input type="hidden" name="isBatch" id="isBatch" value="0"><!-- 0 单个，1 批量-->
                <input type="hidden" name="certtype" id="certtype" value="seller">
                <input type="hidden" name="printNum" id="printNum" value="#if($!orderCert)$!orderCert.printNum#end">
                <input type="hidden" name="uploadNum" id="uploadNum" value="#if($attachments)$!$attachments.size()#end">
                <span>#if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                    交易凭证
                #else
                    上传凭证
                #end
                </span>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>卖家凭证名称</th>
                        <th>上传凭证</th>
                        <th>
                            #if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                                操作
                            #else
                                备注
                            #end
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td>#if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                            $cName
                        #else
                            <select name="credent_name" id="credent_name" #if($attachments) disabled="true" #end>

                                #foreach($certName in $certNames)
                                    <option value ="$certName" #if($attachments && $!cName && $cName ==$certName) checked #end>$certName</option>
                                #end
                            </select>
                        #end
                        </td>
                        <td>
                            #if($!orderCert && ($!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                <!--
                                <input id="pic" name="pic_cert" class="inline" type="file" multiple="multiple" value="" onchange="preImg();" />
                                -->
                                <input type="button" 
                                	class="btn btn-info btn-sm browse-files" 
                                	credentialId="#if($!orderCert)$!orderCert.id#end" 
                                	credentialCode="#if($!orderCert)$!orderCert.credentialCode#end" 
                                	value=" 浏 览 "/>
                                <br /><span id="upload-hint">上传凭证图片支持jpeg、jpg、png、gif 图片格式，小于2M；</span>
                            #end
                            <div id="img_pics">
                                #foreach($attachment in $attachments)
                                    <span class="pull-left pos-rel" style="margin-right:10px;margin-top:10px;"><a href="javascript:;" class="img-box">
                                        <img   #if($attachment.fileUrl)src="$link.getContextPath()/common/getfile.html?key=$attachment.fileUrl" #end alt="" width="100px" height="70px" style="border: 2px solid rgb(51, 122, 183);"/>
                                    </a>
                                        #if($!orderCert && ($!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                            <a href="javascript:;" class="pos-abs fa fa-close fa-lg red" style="right:-5px;top:-5px;z-index: 99;" #if($attachment.id)id="$attachment.id" #end></a>
                                        #end
                            </span>
                                #end
                            </div>
                        </td>
                        <td>
                            #if($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED')
                                <a class="btn btn-info btn-sm" href="javascript:;" id="audit-seller-certi"  #if($!orderCert.status == 'APPROVED') style="display: none" #end>通过审核</a>
                                <a class="btn btn-info btn-sm" href="javascript:;" id="noaudit-seller-certi" #if($!orderCert.status == 'APPROVED') style="display: none" #end>不通过审核</a>
                                <a class="btn btn-info btn-sm" href="javascript:;" id="cancel-seller-certi" #if($!orderCert.status == 'PENDING_APPROVAL') style="display: none" #end>取消审核通过</a>
                            #else
                                $!orderCert.note
                            #end</td>
                    </tr>
                </table>
            </form>
            <!--只有待审核和审核通过才展示-->
            #if($!auditCert &&  ($!auditCert.status == 'PENDING_APPROVAL' || $!auditCert.status == 'APPROVED'))
                <table class="table table-striped table-bordered table-hover">
                    <input type="hidden" name="buyercertid" id="buyercertid" value="$!auditCert.id">
                    <thead>
                    <tr>
                        <th>买家凭证名称</th>
                        <th>上传凭证</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>
                            $auditName
                        </td>
                        <td>
                            <div id="img_pics">
                                #foreach($attachment in $auditAttachments)
                                    <span class="pull-left pos-rel" style="margin-right:10px;margin-top:10px;"><a href="javascript:;" class="img-box">
                                        <img   #if($attachment.fileUrl)src="$link.getContextPath()/common/getfile.html?key=$attachment.fileUrl" #end alt="" width="100px" height="70px" style="border: 2px solid rgb(51, 122, 183);"/>
                                    </a>
                            </span>
                                #end
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" href="javascript:;" id="audit-buyer-certi"  #if($!auditCert.status == 'APPROVED') style="display: none" #end>通过审核</a>
                            <a class="btn btn-info btn-sm" href="javascript:;" id="noaudit-buyer-certi" #if($!auditCert.status == 'APPROVED') style="display: none" #end>不通过审核</a>
                            <a class="btn btn-info btn-sm" href="javascript:;" id="cancel-buyer-certi" #if($!auditCert.status == 'PENDING_APPROVAL') style="display: none" #end>取消审核通过</a>
                        </td>
                    </tr>
                </table>
            #end
         #else
            <!-- 当前凭证是买家 -->
             <!--只有待审核和审核通过才展示-->
             #if($!auditCert &&  ($!auditCert.status == 'PENDING_APPROVAL' || $!auditCert.status == 'APPROVED'))
                 <table class="table table-striped table-bordered table-hover">
                     <input type="hidden" name="sellercertid" id="sellercertid" value="$!auditCert.id">
                     <thead>
                     <tr>
                         <th>卖家凭证名称</th>
                         <th>上传凭证</th>
                         <th>操作</th>
                     </tr>
                     </thead>
                     <tr>
                         <td>
                             $auditName
                         </td>
                         <td>
                             <div id="img_pics">
                                 #foreach($attachment in $auditAttachments)
                                     <span class="pull-left pos-rel" style="margin-right:10px;margin-top:10px;"><a href="javascript:;" class="img-box">
                                         <img   #if($attachment.fileUrl)src="$link.getContextPath()/common/getfile.html?key=$attachment.fileUrl" #end alt="" width="100px" height="70px" style="border: 2px solid rgb(51, 122, 183);"/>
                                     </a>
                            </span>
                                 #end
                             </div>
                         </td>
                         <td>
                             <a class="btn btn-info btn-sm" href="javascript:;" id="audit-seller-certi"  #if($!auditCert.status == 'APPROVED') style="display: none" #end>通过审核</a>
                             <a class="btn btn-info btn-sm" href="javascript:;" id="noaudit-seller-certi" #if($!auditCert.status == 'APPROVED') style="display: none" #end>不通过审核</a>
                             <a class="btn btn-info btn-sm" href="javascript:;" id="cancel-seller-certi" #if($!auditCert.status == 'PENDING_APPROVAL') style="display: none" #end>取消审核通过</a>
                         </td>
                     </tr>
                 </table>
             #end

             <form action="$link.getContextPath()/order/query/uploadPic.html" method="POST"
                   enctype="multipart/form-data" id="orderForm" class="text-left">
                 <input type="hidden" name="certid" id="certid" value="#if($!orderCert)$!orderCert.id#end">
                 <input type="hidden" name="buyercertid" id="buyercertid" value="#if($!orderCert)$!orderCert.id#end">
                 <input type="hidden" name="certcode" id="certcode" value="#if($!orderCert)$!orderCert.credentialCode#end">
                 <input type="hidden" name="isBatch" id="isBatch" value="0"><!-- 0 单个，1 批量-->
                 <input type="hidden" name="certtype" id="certtype" value="buyer">
                 <input type="hidden" name="printNum" id="printNum" value="#if($!orderCert)$!orderCert.printNum#end">
                 <input type="hidden" name="uploadNum" id="uploadNum" value="#if($attachments)$!$attachments.size()#end">
                <span>#if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                    交易凭证
                #else
                    上传凭证
                #end
                </span>
                 <table class="table table-striped table-bordered table-hover">
                     <thead>
                     <tr>
                         <th>买家凭证名称</th>
                         <th>上传凭证</th>
                         <th>
                             #if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                                 操作
                             #else
                                 备注
                             #end
                         </th>
                     </tr>
                     </thead>
                     <tr>
                         <td>#if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED'))
                             $cName
                         #else
                             <select name="credent_name" id="credent_name" #if($attachments) disabled="true" #end>

                                 #foreach($certName in $certNames)
                                     <option value ="$certName" #if($attachments && $!cName && $cName ==$certName) checked #end>$certName</option>
                                 #end
                             </select>
                         #end
                         </td>
                         <td>
                             #if($!orderCert && ($!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                 <!--
                                 	<input id="pic" name="pic_cert" class="inline" type="file" multiple="multiple" value="" onchange="preImg();" />
                                 -->
                                 <input type="button" 
                                	class="btn btn-info btn-sm browse-files" 
                                	credentialId="#if($!orderCert)$!orderCert.id#end" 
                                	credentialCode="#if($!orderCert)$!orderCert.credentialCode#end" 
                                	value=" 浏 览 "/>
                                 <br /><span id="upload-hint">上传凭证图片支持jpeg、jpg、png、gif 图片格式，小于2M；</span>
                             #end
                             <div id="img_pics">
                                 #foreach($attachment in $attachments)
                                     <span class="pull-left pos-rel" style="margin-right:10px;margin-top:10px;"><a href="javascript:;" class="img-box">
                                         <img   #if($attachment.fileUrl)src="$link.getContextPath()/common/getfile.html?key=$attachment.fileUrl" #end alt="" width="100px" height="70px" style="border: 2px solid rgb(51, 122, 183);"/>
                                     </a>
                                         #if($!orderCert && ($!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                             <a href="javascript:;" class="pos-abs fa fa-close fa-lg red" style="right:-5px;top:-5px;z-index: 99;" #if($attachment.id)id="$attachment.id" #end></a>
                                         #end
                            </span>
                                 #end
                             </div>
                         </td>
                         <td>
                             #if($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED')
                                 <a class="btn btn-info btn-sm" href="javascript:;" id="audit-buyer-certi"  #if($!orderCert.status == 'APPROVED') style="display: none" #end>通过审核</a>
                                 <a class="btn btn-info btn-sm" href="javascript:;" id="noaudit-buyer-certi" #if($!orderCert.status == 'APPROVED') style="display: none" #end>不通过审核</a>
                                 <a class="btn btn-info btn-sm" href="javascript:;" id="cancel-buyer-certi" #if($!orderCert.status == 'PENDING_APPROVAL') style="display: none" #end>取消审核通过</a>
                             #else
                                 $!orderCert.note
                             #end</td>
                     </tr>
                 </table>
             </form>
        #end
            <div class="text-center">
                <table class="text-left">
                    <tr>
                        <td style="width: 60px;"><a class="link" href="window.history.go(-1);">返回</a></td>

                        <td><a class="btn btn-info btn-sm" id="print-seller-certi" #if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED')) style="display: none" #end href="">#if($!orderCert.type == 'seller')打印卖家凭证 #else 打印买家凭证 #end</a>
                            #if($!orderCert && $!orderCert.printNum > 0 && $!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                已打印$!orderCert.printNum次<br/>
                                $!orderCert.printedBy上次打印时间: $!printDate<br/>
                                IP:$!orderCert.printIp<br/>
                            #end
                        </td>
                        <td><a class="btn btn-info btn-sm" id="print-seller-code" href="javascript:;" #if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED')) style="display: none" #end>#if($!orderCert.type == 'seller')打印卖家凭证条码 #else 打印买家凭证条码 #end</a>
                            #if($!orderCert && $!orderCert.printNum > 0 && $!orderCert.status == 'PENDING_SUBMIT' || $!orderCert.status == 'DISAPPROVE'))
                                已打印$!orderCert.printNum次<br/>
                                $!orderCert.printedBy上次打印时间: $!printDate<br/>
                                IP:$!orderCert.printIp<br/>
                            #end
                        </td>
                        <td><a class="btn btn-info btn-sm" href="javascript:;" id="submit-seller-certi" #if($!orderCert &&  ($!orderCert.status == 'PENDING_APPROVAL' || $!orderCert.status == 'APPROVED')) style="display: none" #end>提交给凭证审核人员审核</a></td>


                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<input type="hidden" name="printHit" id="printHit" value="#if($!orderCert)已打印$!orderCert.printNum次<br/>
                                                           $!orderCert.printedBy上次打印时间: $!printDate<br/>
                                                           IP:$!orderCert.printIp<br/>
                                                           是否要再次打印？
                                                           #end">
<script type="text/javascript">
    //打印凭证
    $("#print-seller-certi").click(function(){
        //?orderIds=19844&sellerId=3163
        var idsParam = "";
        #foreach($orderid in $orderIds)
            idsParam += "&orderIds="+ "$orderid";
        #end

        if($("#printNum").val() > 0){
            //已打印过
            cbms.confirm($("#printHit").val(),null, function () {
            #if($!orderCert.type == 'seller')
                window.location.href=Context.PATH+"/order/print/printsaleslip.html?sellerId=$accountId"+idsParam;
            #else
                window.location.href=Context.PATH+"/order/print/printdeliveryletter.html?"+idsParam;
            #end
            });
        }else{
            //第一次打印
        #if($!orderCert.type == 'seller')
            window.location.href=Context.PATH+"/order/print/printsaleslip.html?sellerId=$accountId"+idsParam;
        #else
            window.location.href=Context.PATH+"/order/print/printdeliveryletter.html?"+idsParam;
        #end
        }
    });
    $("#print-seller-code").click(function(){


        //?orderIds=19844&sellerId=3163

    });
</script>
<script src="$link.getContextPath()/js/views/order/uploadcredential.js"></script>
<link rel="stylesheet" href='$link.getContextPath()/css/sliderBar.css'/>
<script src='$link.getContextPath()/js/sliderBar.js'></script>
<script src='$link.getContextPath()/js/views/order/certiFileUploads.js'></script>


